#containers-panelmenu,
#web-apps-button,
#e10s-button,
#panic-button,
#stop-button,
#stop-button .toolbarbutton-animatable-image,
#stop-reload-button[animate]>#reload-button[displaystop]+#stop-button>.toolbarbutton-animatable-box>.toolbarbutton-animatable-image,
#save-page-button,
#back-button,
#forward-button,
#new-window-button,
#tabs-newtab-button,
#alltabs-button,
#navigator-toolbox #TabsToolbar #alltabs-button,
#navigator-toolbox #TabsToolbar #tabbrowser-arrowscrollbox>.scrollbutton-up,
#navigator-toolbox #TabsToolbar #tabbrowser-arrowscrollbox>.scrollbutton-down,
#downloads-button,
#downloads-button[indicator="true"]:not([attention="success"]) #downloads-indicator-icon,
#find-button,
#sidebar-button,
#PanelUI-customize,
#password-notification-icon,
#PanelUI-fxa-status,
#sync-button,
#tabview-button,
#screenshot-button,
#email-link-button,
#reload-button,
#reload-button .toolbarbutton-animatable-image,
#add-ons-button,
#open-file-button,
#home-button,
#feed-button,
#history-button,
#history-panelmenu,
#library-button,
#privatebrowsing-button,
#print-button,
#webide-button,
#PanelUI-menu-button,
#nav-bar-overflow-button,
#bookmarks-menu-button,
#bookmarks-button,
#bookmarks-menu-button>.toolbarbutton-menubutton-dropmarker>.dropmarker-icon,
#developer-button,
#preferences-button,
#characterencoding-button {
	fill: #ffffff !important;
	fill-opacity: 1 !important;
	opacity: 1 !important;
	filter: brightness(100%) !important;
}
