findbar {
	order: -1 !important;
	margin-bottom: -33px !important;
	position: relative;
	border-top: none !important;
	padding: 0 !important;
	transition: transform 82ms linear, opacity 82ms linear 32ms !important;
	/*floating findbar Derive findbar background from theme colors https://github.com/MrOtherGuy/firefox-csshacks/commit/2a0f40b305b81b129cc5db6dbffbbe9ff028bc90*/
	background: none !important;
	pointer-events: none;
	z-index: 1;
        white-space: nowrap;
 	}
}

.findbar-container>.findbar-find-fast {
	 padding: var(--toolbarbutton-inner-padding) 1px;
	margin: 0 !important;
}

findbar[hidden] {
	transform: translateY(-36px);
}


findbar>.findbar-container,
findbar>.close-icon {
	border: 1px solid #1e1d2d !important;
	border-width: 0 0 1px 0px !important;
	background-color: #1e1d2d !important;
        background-image: linear-gradient(#1e1d2d, #1e1d2d)),var(--lwt-header-image,none);
	pointer-events: auto;
}

findbar>.findbar-container {
	flex-direction: row-reverse;
	border-bottom-right-radius: 4px;
	border-right-width: 1px;
	height: initial !important;	
	/*margin-inline: 0px !important;*/
	overflow-inline: visible !important;
	margin-inline-start: 8px;
}

.findbar-find-status {
	display: flex;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.findbar-closebutton {
	margin: 0 !important;
	border-radius: 0 !important;
	padding: 5px !important;
	width: initial !important;

}

.findbar-closebutton>image {
	padding: 3px;
}

.findbar-closebutton:hover>image {
	background: dodgerblue !important;
	border-radius: 4px;
}

findbar>.findbar-container>hbox {
	margin: 0 30px;
}

findbar::before {
	content: "";
	display: flex;
	flex-grow: 1;
}

.findbar-textbox::placeholder,
.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word,
.findbar-label {
	font-family: Fira Sans !important;
	color: white !important;
}

.findbar-textbox {
	background-color: black !important;
	color: white !important;
}

/*
Move findbar so it isn't over the scrollbar
Delete if you want findbar to begin from right window edge
*/


/*
  Move findbar so it isn't over the scrollbar
  Delete if you want findbar to begin from right window edge
  */
findbar {
	margin-right: 12px;
	border-right: 1px solid var(--chrome-content-separator-color);
}
