@-moz-document regexp("https?://(www|images).google.(com|co.[a-z]{2}|com.[a-z]{2}|[a-z]{2}).*") {
	* {
		font-family: "Fira Sans" !important;
	}

	a:link {
		color: #1e90ff !important;
	}

	a:visited {
		color: #1e90ff50 !important;
	}

	a:hover {
		color: #1e90ff80 !important;
	}

	a:active {
		color: #1e90ff !important;
	}


}

@-moz-document domain("mail.google.com") {
	* {
		font-family: "Fira Sans" !important;
	}


	/* ADD ROW HIGHLIGHTS */
	table.zt tr.yO:hover {
		background-color: #1e90ff80 !important;
	}

	table.zt tr.zE:hover {
		background-color: #1e90ff80 !important;
	}

}

@-moz-document domain(google.fr) {
	:root {
		font-family: Fira Sans !important;
	}

	/*
	html, body {
		background-color: inherit !important;
		background: inherit !important;
	}*/


}

@-moz-document domain(news.google.com) {

	html,
	body {
		background: #1E1D2D !important;
	}
/*
	a:link * {
		color: #1e90ff !important;
	}

	a:visited * {
		color: #1e90ff50 !important;
	}

	a:hover * {
		color: #1e90ff80 !important;
	}

	a:active * {
		color: #1e90ff !important;
	}*/

	.pjBVq,
	div,
	article,
	footer,
	.FKF6mc,
	.FKF6mc:focus,
	.FKF6mc:hover,
	.iDvCIf,
	.rdp59b {
		white-space: normal !important;
		font-family: Fira Sans !important;
		border-color: #1e90ff !important;
		background-color: transparent !important;

	}

	.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p,
	.rdp59b,
	article.IFHyqb {
		color: #1e90ff !important;
	}

	a.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p:hover,
	.rdp59b:hover,
	.rdp59b:focus,
	a.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p:focus {
		color: #1e90ff80 !important;

	}

	.gb_Md,
	.gb_Fd,
	.gb_Jd,
	.gb_Qe,
	.gb_Se {
		background-color: #1E1D2D !important;
		color: white !important;
		box-shadow: none !important;
	}

	.gb_Re {
		background: #1E1D2D !important;
		border: none !important;

	}

	.gb_Te {
		background-color: #000000 !important;
	}

	.gb_Ne {
		background-color: #1E1D2D !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.gb_Md .gb_Le {
		background: #1E1D2D !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.gb_na.gb_Ke .gb_ad {
		padding: 4px 2px;
		padding-left: 2px;
		background: #1E1D2D !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.ICsaqd {
		color: #ffffff !important;
	}

	.YtXOzd,
	.pjBVq {
		outline: #1e90ff 1px !important;
		font-family: Fira Sans !important;
		border-color: #1e90ff !important;
		background-color: #1e90ff40 !important;
	}

	.MkjOTb:hover {
		background-color: #1e90ff70 !important;
	}

	.T4LgNb {
		background: #1E1D2D !important;
		border-color: #1e90ff !important;
	}

	.boy4he {
		background-color: #1e90ff70 !important;
		fill: #ffffff !important;
	}

	.To2ZZb.DbQnIe,
	.To2ZZb.DbQnIe .Ix4NZd {

		color: #ffffff !important;
		white-space: nowrap;
	}

	.boy4he:hover {
		background-color: #1e90ff50 !important;
		fill: #ffffff !important;
	}

	.u3WVdc {
		background: #1E1D2D !important;
		border-radius: 4px !important;
	}

	.gb_Le {
		background-color: transparent !important;
		background-image: none;
		border-color: transparent;
	}

	.b42OPe {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px 0px, rgba(0, 0, 0, 0.26) 0px 1px 2px 0px;
		background-color: #1E1D2D !important;

	}

	c-wiz {
		background-color: #1E1D2D !important;
		font-family: Fira Sans !important;
	}

	.QmrVtf,
	.bFymCe,
	.QmrVtf.RD0gLb.kybdz,
	.wsLqz,
	a.SVJrMe {
		color: dodgerblue !important;
		filter: brightness(1) !important;
		filter: opacity(100%) !important;
	}

	body.dm7YTc .dmaMHc .VfPpkd-StrnGf-rymPhb {
		background-color: #1E1D2D !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b,
	.VfPpkd-BFbNVe-bF1uUb-NZp2ef {
		background: #1E1D2D !important;
		background-color: #1E1D2D !important;
		color: white !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b:hover {
		background-color: #1e90ff !important;
		color: white !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b[selected] {
		background-color: #1e90ff !important;
		color: white !important;
	}

	.VfPpkd-TkwUic {
		outline: #1e90ff 1px !important;
		border-radius: 4px !important;
	}

	h2,
	a * {
		font-family: Fira Sans !important;
	}

	
	.jKHa4e {
		text-decoration: none !important;
		background: #1e90ff !important;
		color: white !important;
		font-size: 14px !important;

	}

	
	.jKHa4e:hover {
		text-decoration: none !important;
		background: #1e90ff80 !important;
		color: white !important;
	}

	.dm7YTc .kyvwAb {
		text-decoration: none !important;
		background: #1e90ff !important;
		color: white !important;
		font-size: 14px !important;

	}
	.dm7YTc .kyvwAb:hover {
		text-decoration: none !important;
		background: #1e90ff80 !important;
		color: white !important;
		font-size: 14px !important;
	}*

	/**|*:any-link:not(svg|a) {
		text-decoration: none !important;
		font-family: Fira Sans !important;

	}*/

	.DPvwYc {
		font-family: "Material Icons Extended" !important;

	}

	.IFHyqb,
	.m5k28,
	.B6pJDd * {
		font-family: Fira Sans !important;
		color: white !important;
	}

	/*.IFHyqb:hover *,*/
	.m5k28:hover *,
	.B6pJDd:hover * {
		color: dodgerblue !important;
		text-decoration: none !important;
	}

	.EctEBd {
		color: white !important;
		font-family: Fira Sans !important;
	}

	.EctEBd.KKjvXb:hover * {
		color: #1e90ff !important;
		font-family: Fira Sans !important;
	}

	hr *,
	.n0uym {
		background: dodgerblue !important;
	}

	.dSBEqc {
		background-image: linear-gradient(to right, #1e1d2d, #1e1d2d 4px) !important;
		border: none !important;
	}

	.dm7YTc .HDbYSe {
		color: transparent !important;
		background: #1e1d2d !important;
		border: none ! !important;
	}

	.brSCsc[selected="true"] * {
		fill: #1e90ff !important;
	}

}



@-moz-document domain(github.com) {
	* {
		font-family: Fira Sans !important;
	}


	a.f6.text-bold.Link--primary.d-flex.no-underline.wb-break-all.d-inline-block {
		font-weight: bold !important;
		color: #1e90ff !important;
		font-size: 16px !important;
	}

	a.f6.text-bold.Link--primary.d-flex.no-underline.wb-break-all.d-inline-block:hover {
		font-weight: bold !important;
		color: #1e90ff80 !important;
		font-size: 16px !important;
	}

	.branch-name,
	.commit-ref,
	.commit .sha,
	.commit .sha-block,
	.commit-desc pre,
	.commit-tease-sha,
	.blob-num,
	.blob-code-inner *,
	kbd,
	.credit-card .cvv,
	.credit-card .text,
	.CommunityTemplate-highlight,
	.file-info,
	.hook-delivery-guid,
	.hook-delivery-response-status,
	.news .alert .branch-link,
	.export-phrase pre,
	.oauth-app-info-container dl.keys dd *,
	.two-factor-recovery-codes *,
	.CodeMirror *,
	.CodeMirror-dialog input *,
	.cm-s-github-light .CodeMirror-lines *,
	.file-editor-textarea,
	.blob-code *,
	code *,
	pre,
	samp,
	tt,
	td,
	pre *,
	.highlight *,
	.diff-table *,
	.tab-size *,
	.input-monospace *,
	.text-mono * {
		font-family: "Fira Code" !important;
		line-height: 1.7em !important;
		/*font-weight: 100 !important;*/
		font-size: 13.5px !important;
		opacity: 1 !important;
	}

	/*
	td:hover,
	td:focus {
		background: #1e90ff50 !important;
	}*/
	/*.blob-num.js-line-number js-code-nav-line-number js-blob-rnum:hover,
	tr:hover {
		background: #1e90ff50 !important;
	}*/


	/*td>span:hover {
		background-color: #1e90ff !important;
		color: white !important;
	}*/



	.diff-table tr:hover>pre,
	.highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-num:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td.selected-line.blob-code:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td:not(.line-age) {
		background-color: #1e90ff80 !important;
	}

	/*.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-addition:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-addition:not(.line-age) {
		background: #103810 !important;
	}

	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-deletion:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-deletion:not(.line-age) {
		background: #481010 !important;
	}*/
	/*td {
		background: #121212 !important;
	}*/

}


