@-moz-document regexp("https?://(www|images).google.(com|co.[a-z]{2}|com.[a-z]{2}|[a-z]{2}).*")
{
	* {
		font-family: "Fira Sans" !important;
	}

	a:link {
		color: #1e90ff !important;
	}

	a:visited {
		color: #1e90ff50 !important;
	}

	a:hover {
		color: #1e90ff80 !important;
	}

	a:active {
		color: #1e90ff !important;
	}
}

@-moz-document domain("mail.google.com") {
	* {
		font-family: "Fira Sans" !important;
	}

	/* ADD ROW HIGHLIGHTS */
	table.zt tr.yO:hover {
		background-color: #1e90ff80 !important;
	}

	table.zt tr.zE:hover {
		background-color: #1e90ff80 !important;
	}
}

@-moz-document domain(google.fr) {
	:root {
		font-family: Fira Sans !important;
	}

	/*
	html, body {
		background-color: inherit !important;
		background: inherit !important;
	}*/
}

@-moz-document domain(news.google.com) {
	html,
	body {
		background: #1e1d2d !important;
	}

	/*
	a:link * {
		color: #1e90ff !important;
	}

	a:visited * {
		color: #1e90ff50 !important;
	}

	a:hover * {
		color: #1e90ff80 !important;
	}

	a:active * {
		color: #1e90ff !important;
	}*/

	.pjBVq,
	div,
	article,
	footer,
	.FKF6mc,
	.FKF6mc:focus,
	.FKF6mc:hover,
	.iDvCIf,
	.rdp59b {
		white-space: normal !important;
		font-family: Fira Sans !important;
		border-color: #1e90ff !important;
		background-color: transparent !important;
	}

	.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p,
	.rdp59b,
	article.IFHyqb {
		color: #1e90ff !important;
	}

	a.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p:hover,
	.rdp59b:hover,
	.rdp59b:focus,
	a.FKF6mc.TpQm9d.ZqhUjb.ztUP4e.tHCKTc.kTeh9.cd29Sd.dHeVVb.lSLCF.Xcw0p:focus {
		color: #1e90ff80 !important;
	}

	.gb_Md,
	.gb_Fd,
	.gb_Jd,
	.gb_Qe,
	.gb_Se {
		background-color: #1e1d2d !important;
		color: white !important;
		box-shadow: none !important;
	}

	.gb_Re {
		background: #1e1d2d !important;
		border: none !important;
	}

	.gb_Te {
		background-color: #000000 !important;
	}

	.gb_Ne {
		background-color: #1e1d2d !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.gb_Md .gb_Le {
		background: #1e1d2d !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.gb_na.gb_Ke .gb_ad {
		padding: 4px 2px;
		padding-left: 2px;
		background: #1e1d2d !important;
		background-image: none !important;
		border-color: transparent !important;
	}

	.ICsaqd {
		color: #ffffff !important;
	}

	.YtXOzd,
	.pjBVq {
		outline: #1e90ff 1px !important;
		font-family: Fira Sans !important;
		border-color: #1e90ff !important;
		background-color: #1e90ff40 !important;
	}

	.MkjOTb:hover {
		background-color: #1e90ff70 !important;
	}

	.T4LgNb {
		background: #1e1d2d !important;
		border-color: #1e90ff !important;
	}

	.boy4he {
		background-color: #1e90ff70 !important;
		fill: #ffffff !important;
	}

	.To2ZZb.DbQnIe,
	.To2ZZb.DbQnIe .Ix4NZd {
		color: #ffffff !important;
		white-space: nowrap;
	}

	.boy4he:hover {
		background-color: #1e90ff50 !important;
		fill: #ffffff !important;
	}

	.u3WVdc {
		background: #1e1d2d !important;
		border-radius: 4px !important;
	}

	.gb_Le {
		background-color: transparent !important;
		background-image: none;
		border-color: transparent;
	}

	.b42OPe {
		box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 5px 0px,
			rgba(0, 0, 0, 0.26) 0px 1px 2px 0px;
		background-color: #1e1d2d !important;
	}

	c-wiz {
		background-color: #1e1d2d !important;
		font-family: Fira Sans !important;
	}

	.QmrVtf,
	.bFymCe,
	.QmrVtf.RD0gLb.kybdz,
	.wsLqz,
	a.SVJrMe {
		color: dodgerblue !important;
		filter: brightness(1) !important;
		filter: opacity(100%) !important;
	}

	body.dm7YTc .dmaMHc .VfPpkd-StrnGf-rymPhb {
		background-color: #1e1d2d !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b,
	.VfPpkd-BFbNVe-bF1uUb-NZp2ef {
		background: #1e1d2d !important;
		background-color: #1e1d2d !important;
		color: white !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b:hover {
		background-color: #1e90ff !important;
		color: white !important;
	}

	.VfPpkd-StrnGf-rymPhb-ibnC6b[selected] {
		background-color: #1e90ff !important;
		color: white !important;
	}

	.VfPpkd-TkwUic {
		outline: #1e90ff 1px !important;
		border-radius: 4px !important;
	}

	h2,
	a * {
		font-family: Fira Sans !important;
	}

	.jKHa4e {
		text-decoration: none !important;
		background: #1e90ff !important;
		color: white !important;
		font-size: 14px !important;
	}

	.jKHa4e:hover {
		text-decoration: none !important;
		background: #1e90ff80 !important;
		color: white !important;
	}

	.dm7YTc .kyvwAb {
		text-decoration: none !important;
		background: #1e90ff !important;
		color: white !important;
		font-size: 14px !important;
	}

	.dm7YTc .kyvwAb:hover {
		text-decoration: none !important;
		background: #1e90ff80 !important;
		color: white !important;
		font-size: 14px !important;
	}

	*
	/**|*:any-link:not(svg|a) {
		text-decoration: none !important;
		font-family: Fira Sans !important;

	}*/

	.DPvwYc {
		font-family: "Material Icons Extended" !important;
	}

	.IFHyqb,
	.m5k28,
	.B6pJDd * {
		font-family: Fira Sans !important;
		color: white !important;
	}

	/*.IFHyqb:hover *,*/
	.m5k28:hover *,
	.B6pJDd:hover * {
		color: dodgerblue !important;
		text-decoration: none !important;
	}

	.EctEBd {
		color: white !important;
		font-family: Fira Sans !important;
	}

	.EctEBd.KKjvXb:hover * {
		color: #1e90ff !important;
		font-family: Fira Sans !important;
	}

	hr *,
	.n0uym {
		background: dodgerblue !important;
	}

	.dSBEqc {
		background-image: linear-gradient(
			to right,
			#1e1d2d,
			#1e1d2d 4px
		) !important;
		border: none !important;
	}

	.dm7YTc .HDbYSe {
		color: transparent !important;
		background: #1e1d2d !important;
		border: none ! !important;
	}

	.brSCsc[selected="true"] * {
		fill: #1e90ff !important;
	}
}

@-moz-document domain(github.com) {
	* {
		font-family: Fira Sans !important;
	}

	a.f6.text-bold.Link--primary.d-flex.no-underline.wb-break-all.d-inline-block {
		font-weight: bold !important;
		color: #1e90ff !important;
		font-size: 16px !important;
	}

	a.f6.text-bold.Link--primary.d-flex.no-underline.wb-break-all.d-inline-block:hover {
		font-weight: bold !important;
		color: #1e90ff80 !important;
		font-size: 16px !important;
	}

	.branch-name,
	.commit-ref,
	.commit .sha,
	.commit .sha-block,
	.commit-desc pre,
	.commit-tease-sha,
	.blob-num,
	.blob-code-inner *,
	kbd,
	.credit-card .cvv,
	.credit-card .text,
	.CommunityTemplate-highlight,
	.file-info,
	.hook-delivery-guid,
	.hook-delivery-response-status,
	.news .alert .branch-link,
	.export-phrase pre,
	.oauth-app-info-container dl.keys dd *,
	.two-factor-recovery-codes *,
	.CodeMirror *,
	.CodeMirror-dialog input *,
	.cm-s-github-light .CodeMirror-lines *,
	.file-editor-textarea,
	.blob-code *,
	code *,
	pre,
	samp,
	tt,
	td,
	pre *,
	.highlight *,
	.diff-table *,
	.tab-size *,
	.input-monospace *,
	.text-mono * {
		font-family: "Fira Code" !important;
		line-height: 1.7em !important;
		/*font-weight: 100 !important;*/
		font-size: 13.5px !important;
		opacity: 1 !important;
	}

	/*
	span:hover {
		background-color: #1e90ff !important;
		color: white !important;
	}*/

	.diff-table tr:hover > pre,
	.highlight:not(.lines)
		tr:not(.inline-comments):hover
		td.selected-line.blob-num:not(.line-age),
	.highlight:not(.lines)
		tr:not(.inline-comments):hover
		td.selected-line.blob-code:not(.line-age),
	.highlight:not(.lines)
		tr:not(.inline-comments):hover
		td:not(.line-age) {
		background-color: #1e90ff80 !important;
	}

	/*.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-addition:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-addition:not(.line-age) {
		background: #103810 !important;
	}

	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-num-deletion:not(.line-age),
	.highlight:not(.lines) tr:not(.inline-comments):hover td.blob-code-deletion:not(.line-age) {
		background: #481010 !important;
	}*/
	/*td {
		background: #121212 !important;
	}*/
	/*

	.pl-c,
	.pl-c span {
		color: #808080 !important;
	}

	.pl-c1 {
		color: #D5DDA4 !important
	}

	.pl-cce {
		color: #cf6a4c !important;
		font-weight: 400 !important
	}

	.pl-cn {
		color: #cf6a4c !important
	}

	.pl-coc {
		color: #cf6a4c !important
	}

	.pl-cos {
		color: #8f9d6a !important
	}

	.pl-e {
		color: #ac885b !important
	}

	.pl-ef {
		color: #ac885b !important
	}

	.pl-en {
		color: #E6D1B6 !important;
	}

	.pl-enc {
		color: #cf6a4c !important
	}

	.pl-enf {
		color: #ac885b !important
	}

	.pl-enm {
		color: #ac885b !important
	}

	.pl-ens {
		color: #cf6a4c !important
	}

	.pl-ent {
		color: #cda869 !important
	}

	.pl-entc {
		color: #ac885b !important
	}

	.pl-enti {
		color: #ac885b !important;
		font-weight: 700 !important
	}

	.pl-entm {
		color: #7587a6 !important
	}

	.pl-eoa {
		color: #cda869 !important
	}

	.pl-eoac {
		color: #7587a6 !important;
	}

	.pl-eoac .pl-pde {
		color: #7587a6 !important;
	}

	.pl-eoai {
		color: #cda869 !important;
	}

	.pl-eoai .pl-pde {
		color: #cda869 !important;
	}

	.pl-eoi {
		color: #ac885b !important;
	}

	.pl-k {
		color: #4286f4 !important
	}

	.pl-ko {
		color: #cda869 !important
	}

	.pl-kolp {
		color: #cda869 !important
	}

	.pl-kos {
		color: #cf6a4c !important
	}

	.pl-kou {
		color: #cf6a4c !important
	}

	.pl-mai .pl-sf {
		color: #7587a6 !important
	}

	.pl-mb {
		color: #8f9d6a !important;
		font-weight: 700 !important
	}

	.pl-mc {
		color: #cda869 !important
	}

	.pl-mh {
		color: #cf6a4c !important;
		font-weight: 400 !important
	}

	.pl-mh .pl-pdh {
		color: #cf6a4c !important
	}

	.pl-mi {
		color: #cda869 !important;
		font-style: italic !important
	}

	.pl-ml {
		color: #8f9d6a !important
	}

	.pl-mm {
		color: #7587a6 !important
	}

	.pl-mp {
		color: #c5af75 !important
	}

	.pl-mp1 .pl-sf {
		color: #dad085 !important
	}

	.pl-mq {
		color: #cf6a4c !important
	}

	.pl-mr {
		color: #cda869 !important
	}

	.pl-ms {
		color: #cda869 !important
	}

	.pl-pdb {
		color: #8f9d6a !important;
		font-weight: 700 !important
	}

	.pl-pdc {
		color: #5f5a60 !important;
		font-style: italic !important
	}

	.pl-pdc1 {
		color: #cf6a4c !important
	}

	.pl-pde {
		color: #cf6a4c !important
	}

	.pl-pdi {
		color: #cda869 !important;
		font-style: italic !important
	}

	.pl-pds {
		color: #CE7E61 !important
	}

	.pl-pdv {
		color: #7587a6 !important
	}

	.pl-pse {
		color: #cf6a4c !important
	}

	.pl-pse .pl-s2 {
		color: #cf6a4c !important
	}

	.pl-s {
		color: #CE7E61 !important
	}

	.pl-s1 {
		color: #00CDAF !important
	}

	.pl-s2 {
		color: #ccc !important
	}

	.pl-mp .pl-s3 {
		color: #cda869 !important
	}

	.pl-s3 {
		color: #dad085 !important
	}

	.pl-sc {
		color: #dad085 !important
	}

	.pl-scp {
		color: #cf6a4c !important
	}

	.pl-sf {
		color: #dad085 !important
	}

	.pl-smc {
		color: #ac885b !important
	}

	.pl-smi {
		color: #52DFFF !important;
	}

	.pl-smp {
		color: #ccc !important
	}

	.pl-sok {
		color: #cda869 !important
	}

	.pl-sol {
		color: #8f9d6a !important
	}

	.pl-som {
		color: #7587a6 !important
	}

	.pl-sr {
		color: #7587a6 !important
	}

	.pl-sra {
		color: #cda869 !important
	}

	.pl-src {
		color: #cda869 !important
	}

	.pl-sre {
		color: #cda869 !important
	}

	.pl-st {
		color: #cda869 !important
	}

	.pl-stj {
		color: #7587a6 !important
	}

	.pl-stp {
		color: #9b859d !important
	}

	.pl-sv {
		color: #9b859d !important
	}

	.pl-v {
		color: #00CDAF !important
	}

	.pl-vi {
		color: #cf6a4c !important
	}

	.pl-vo {
		color: #ac885b !important
	}

	.pl-vpf {
		color: #7587a6 !important
	}

	.pl-mi1 {
		color: #55a532 !important;
		background: #020 !important
	}

	.pl-mdht {
		color: #55a532 !important;
		background: #020 !important
	}

	.pl-md {
		color: #bd2c00 !important;
		background: #200 !important
	}

	.pl-mdhf {
		color: #bd2c00 !important;
		background: #200 !important
	}

	.pl-mdr {
		color: #cf6a4c !important;
		font-weight: 400 !important
	}

	.pl-mdh {
		color: #7587a6 !important;
		font-weight: 400 !important
	}

	.pl-mdi {
		color: #7587a6 !important;
		font-weight: 400 !important
	}

	.pl-ib {
		background-color: #f93 !important
	}

	.pl-id {
		background-color: #a31515 !important;
		color: #fff !important
	}

	.pl-ii,
	.pl-ii .pl-cce {
		background-color: #df5000 !important;
		color: #fff !important
	}

	.pl-iu {
		background-color: #b4b7b4 !important
	}

	.pl-mo {
		color: #969896 !important
	}

	.pl-mri {
		color: teal !important
	}

	.pl-ms1 {
		background-color: #f5f5f5 !important
	}

	.pl-va {
		color: teal !important
	}

	.pl-vpu {
		color: teal !important
	}

	.pl-entl {
		color: #ccc !important
	}*/
}

