/* about:preferences */
@-moz-document url-prefix("about:preferences") {
	.sticky-container {
		background-color: #1e1d2d !important;
	}

	:root {
		font-family: Fira Sans !important;
		background-color: #1e1d2d !important;
	}

	vbox.homepageMenuItemContainer {
		min-width: 300px !important;
		max-width: 300px !important;
	}

	vbox hbox#newTabsOption menulist#newTabMode {
		min-width: 300px !important;
		max-width: 300px !important;
		border: 0px !important;
	}

	a,
	.text-link {
		color: #1e90ff !important;
		text-decoration: none !important;
	}

	a:hover,
	.text-link:hover {
		color: #1e90ff80 !important;
		text-decoration: none !important;
	}

	.category[selected],
	.category.selected {
		fill: #1e90ff !important;
		color: #1e90ff !important;
		border-radius: 4px !important;
	}

	/*
	#categories>.category[selected],
	#categories>.category.selected {
		color: #1e90ff !important;
		border-radius: 0px !important;
		color: #ffffff !important;
	}
*/

	#categories>.category:hover {
		background-color: #1e90ff !important;
		color: #ffffff !important;
		border-radius: 4px !important;
	}

	checkbox:not([disabled="true"]):hover>.checkbox-check,
	input[type="checkbox"]:not(:disabled):hover * {
		border-color: #1e90ff !important;
	}

	radio:not([disabled="true"]):hover>.radio-check * {
		border-color: #1e90ff !important;
	}

	radio:hover>.radio-check * {
		fill: #1e90ff80 !important;
	}

	radio:hover * {
		fill: #1e90ff80 !important;
	}

	.text-link {
		color: #1e90ff !important;
	}

	button {
		appearance: none !important;
		background-color: #1e90ff !important;
		border: 0px solid !important;
		/*border-radius: 3px !important;    */
		color: #ffffff !important;
		/*border-color: #1e90ff !important;*/
	}

	button:hover {
		background-color: #1e90ff50 !important;
		/*border-color: #1e90ff50 !important;*/
	}

	.tree-bodybox,
	stack,
	#handlersView,
	#engineChildren,
	#engineList {
		background: #1e1d2d !important;
		border-color: #1e90ff !important;
		border-radius: 4px !important;
		color: #ffffff !important;
	}

	/*
	#engineList>treechildren:hover,
	#blocklistsTree>treechildren:hover {
		background-color: #1e90ff !important;
	}
*/
	#engineList>treechildren::-moz-tree-image(engineShown, checked),
	#blocklistsTree>treechildren::-moz-tree-image(selectionCol, checked) {
		list-style-image: url("chrome://global/skin/icons/check.svg");
		-moz-context-properties: fill, stroke;
		fill: yellow !important;
	}

	#engineList>treechildren::-moz-tree-row(engineShown, checked, selected, focus, active),
	#blocklistsTree>treechildren::-moz-tree-row(selectionCol, checked, selected, focus, active),
	#engineChildren::-moz-tree-row(engineShown, checked, selected, focus, active),
	treechildren>#engineChildren {
		fill: #1e90ff !important;
		stroke: #1e90ff !important;
		background: #1e90ff !important;
		color: #ffffff !important;
	}

	@media (prefers-contrast) {

		#engineList>treechildren::-moz-tree-row:hover,
		#engineChildren>treechildren::-moz-tree-row:selected,
		#blocklistsTree>treechildren::-moz-tree-row:hover {
			fill: #1e90ff !important;
			stroke: #1e90ff !important;
			background: #1e90ff !important;
			color: white !important;
		}
	}

	#engineList>treechildren::-moz-tree-row,
	#blocklistsTree>treechildren::-moz-tree-row {
		min-height: 30px !important;
	}

	#browserContainersExtensionContent {
		background-color: #1e90ff20 !important;
	}

	.extension-controlled-icon {
		fill: #ffffff !important;
		opacity: 1 !important;
		filter: invert(100%) !important;
	}

	.content-blocking-category.selected {
		border: 1px solid #1e90ff !important;
		border-radius: 4px !important;
		background-color: #1e90ff !important;
	}

	.content-blocking-category {
		border: 1px solid #1e90ff !important;
		border-radius: 4px !important;
		background-color: #1e90ff10 !important;
	}

	#updateSettingsContainer {
		border-radius: 4px !important;
		background: #1e90ff80 !important;
		border: 1px solid #1e90ff !important;
	}

	.sync-group.sync-configured {
		border-radius: 4px !important;
		background: #1e90ff80 !important;
		border: 1px solid #1e90ff !important;
	}

	a#creditCardAutofillLearnMore {
		/*margin-top: 18px !important;*/
		display: none !important;



	}

	.dialogBox,
	.dialog,
	.dialog-content-box,
	#PermissionsDialog,
	#SiteDataSettingsDialog {
		background-color: #1e1d2d !important;
		color: #ffffff !important;
		border: 0px solid transparent !important;
		border-radius: 8px !important;
		font-family: Fira Sans !important;
	}

	button {
		/*appearance: none !important;*/
		color: white !important;
		background-color: #1e90ff !important;
		border: 0px !important;
	}

	button[disabled] {
		opacity: 0.8 !important;
	}

	button:not([disabled]):hover {
		background-color: #1e90ff80 !important;
		box-shadow: none !important;
	}

	button:not([disabled]):active {
		box-shadow: none !important;
	}

	.toggle-button {
		--button-height: 16px;
		--button-half-height: 8px;
		--button-width: 32px;
		--button-border-width: 1px;
		/* dot-size = button-height - 2*dot-margin - 2*button-border-width */
		--dot-size: 12px;
		--dot-margin: 1px;
		/* --dot-transform-x = button-width - 2*dot-margin - dot-size - 2*button-border-width */
		--dot-transform-x: 16px;
		--border-color: #ffffff !important;
		border-radius: 50px !important;
	}

	.toggle-button {
		appearance: none !important;
		padding: 0;
		margin: 0;
		border: var(--button-border-width) solid var(--border-color) !important;
		height: var(--button-height);
		width: var(--button-width);
		/*border-radius: var(--button-half-height);*/
		background-color: #1e90ff50 !important;
		box-sizing: border-box;
	}

	.toggle-button:focus-visible {
		outline: var(--in-content-focus-outline-width) solid var(--in-content-focus-outline-color);
		outline-offset: var(--in-content-focus-outline-offset);
	}

	.toggle-button:enabled:hover {
		background-color: #1e90ff80 !important;
		border-color: var(--border-color);
	}

	.toggle-button:enabled:active {
		background-color: #1e90ff !important;
		border-color: var(--border-color);
	}

	.toggle-button[aria-pressed="true"] {
		background-color: #1e90ff !important;
		border-color: transparent;
	}

	.toggle-button[aria-pressed="true"]:enabled:hover {
		background-color: #1e90ff !important;
		border-color: transparent;
	}

	.toggle-button[aria-pressed="true"]:enabled:active,
	.toggle-button[aria-pressed="true"].toggle-button:checked:enabled:hover:active {
		background-color: #1e90ff !important;
		border-color: transparent;
	}

	.toggle-button::before {
		display: block;
		content: "";
		background-color: #ffffff !important;
		height: var(--dot-size);
		width: var(--dot-size);
		margin: var(--dot-margin);
		border-radius: 100% !important;
		outline: 1px solid transparent;
		outline-offset: -1px;
		translate: 0;
	}

	input[type="checkbox"]:enabled:checked {
		/*background-image: url("chrome://global/skin/icons/check.svg") !important;
		-moz-context-properties: fill !important;
		fill: #000000 !important;
		background-position: center !important;
		background-repeat: no-repeat !important;*/
		background-color: #1e90ff !important;

		border-color: white !important;
		color: #ffffff !important;
	}

	input[type="checkbox"]:hover {
		background: #1e90ffa0 !important;
		border-color: #1e90ff !important;
	}

	input[type="checkbox"] {
		background: #1e1d2d !important;
		border-color: #1e90ff !important;
	}

	checkbox:not([disabled]):hover>.checkbox-check {
		border-color: #1e90ff !important;
		background-color: #1e90ff !important;
		border-radius: 3px !important;
		color: #ffffff !important;
		fill: #ffffff !important;
	}

	checkbox[checked]>.checkbox-check {
		list-style-image: url("chrome://global/skin/icons/check.svg");
		-moz-context-properties: fill !important;
		fill: #ffffff !important;
		background-color: #1e90ff !important;
	}

	checkbox>.checkbox-check {
		background-color: #1e1d2d !important;
		color: #ffffff !important;
		border-color: #1e90ff !important;
		border-radius: 2px !important;
	}

	#handlersView>richlistitem:active,
	#handlersView>richlistitem[selected],
	#handlersView>richlistitem:hover {
		color: #ffffff !important;
		background: #1e90ff !important;
	}

	/* treechildren*
	#handlersView richlistitem,
	#engineList treechildren::-moz-tree-row,
	#blocklistsTree treechildren::-moz-tree-row {
		min-height: 28px !important;
	}
*/
	#engineList treechildren::-moz-tree-row(hover) {
		color: #ffffff !important;
		background: #1e90ff !important;
	}

	#engineList treechildren::-moz-tree-row(selected) {
		color: #ffffff !important;
		background-color: #1e90ff !important;
		border: 0px !important;
	}

	/*
	treecols,
	treecol {
		min-height: unset !important;
		height: 28px !important;
	}*/

	treecols:hover,
	treecol:hover {
		background: #1e90ff !important;
		color: white !important;
	}

	/*
	.autocomplete-tree treecols,
	.autocomplete-tree treecol {
		height: unset !important;
	}
*/
	search-textbox {
		appearance: none !important;
		border: 1px solid #1e90ff !important;
		border-radius: 4px !important;
		color: #ffffff !important;
		background: #1e1d2d !important;
		outline: 0px !important;
		padding-top: 4px !important;
	}

	#listheader,
	treecol {
		border-color: #1e90ff !important;
		background-color: #1e90ff50 !important;
		box-shadow: inset 0 -1px #1e90ff !important;
	}

	listheader {
		border-color: #1e90ff !important;
	}

	#downloadFolder {
		border-color: #1e90ff !important;
		background-color: #1e1d2d !important;
	}

	input[type="radio"]:checked,
	.radio-check[selected] {
		-moz-context-properties: fill;
		fill: #ffffff;
		color: #ffffff !important;
		background-color: #1e90ff !important;
		/*background-image: url("chrome://global/skin/icons/radio.svg");*/
		border-color: white !important;
		/*print-color-adjust: exact !important;*/
	}

	input[type="radio"],
	.radio-check {
		appearance: none !important;
		border: 1px solid #1e90ff !important;
		background-color: #1e1d2d !important;
	}

	#homePageUrl,
	#fxaSyncComputerName {
		background: #1e1d2d !important;
		color: #ffffff !important;
		border-color: #1e90ff !important;
		border-width: 2px !important;
	}

	menulist {
		min-height: 32px !important;
		height: 32px !important;
		background-color: #1e90ff !important;
		color: #ffffff !important;
		border-radius: 4px !important;
		padding: 4px !important;
		border: 0px !important;
	}

	#addonsButton:hover,
	#helpButton:hover {
		background: #1e90ff !important;
		color: #ffffff !important;
	}


	/*
	button:not(.button-link):not(.close-icon):not(#contentBlockingToggle) {
		padding: 0px !important;
	}
*/

	/*
	button:not(.button-link):not(.close-icon):not(.spinbuttons-button) {
		appearance: button !important;
	}
*/
	/*
	menulist {
		appearance: menulist !important;
	}
*/
	/* menulist popup */
	.web-appearance-choice {
		border: 1px solid dodgerblue !important;
	}

	.web-appearance-choice>.web-appearance-choice-image-container {
		background-color: #1e90ff40 !important;
	}

	.web-appearance-choice:hover>.web-appearance-choice-image-container {
		background-color: #1e90ff !important;
	}

	.subcategory:not([hidden])~.subcategory {
		border-top: 1px solid #1e90ff80 !important;
	}

	arrowscrollbox.menupopup-arrowscrollbox {
		border: 0px !important;
	}

	menupopup menuitem {
		background: #1e1d2d !important;
		padding-top: unset !important;
		padding-bottom: unset !important;
	}

	menupopup menuitem:not([disabled="true"]) {
		background: #1e1d2d !important;
		color: #ffffff !important;
	}

	menupopup menuitem[selected],
	menupopup menuitem[_moz-menuactive="true"] {
		background: #1e90ff !important;
		color: #ffffff !important;
	}

	menupopup menuitem:not([disabled="true"])[selected],
	menupopup menuitem:not([disabled="true"])[_moz-menuactive="true"] {
		background: #1e90ff !important;
		color: #ffffff !important;
	}

	.info-box-container {
		background-color: #1e90ff80 !important;
		border-radius: 4px !important;
	}

	treechildren:hover {
		background-color: #1e90ff80 !important;
	}

	#trackingProtectionShield {
		-moz-context-properties: fill, fill-opacity;
		fill: #1e90ff !important;
		fill-opacity: 1 !important;
	}

	#default-fxMobile.text-link,
	a[is="moz-support-link"] {
		font-weight: bold !important;
	}

	.qr-code-box {
		background: #1e90ff60 !important;
	}

	.qr-code-box-image {
		width: 140px !important;
	}

	.searchBarImage {
		-moz-context-properties: fill, stroke;
		fill: #1e90ff20 !important;
		stroke: #1e90ff !important;
	}


	dialogBox,
	#FontsDialog {
		appearance: none !important;
		background-color: #1e1d2d !important;
	}

	box.inherit {
		color: white !important;
		background: #1e1d2d !important;
	}

	window,
	dialog,
	window>dialog#history {
		appearance: none;
		color: white !important;
		background-color: #1e1d2d !important;
		--in-content-box-background: #1e1d2d !important;
	}

	input,
	textarea {
		appearance: none !important;
		background: #1e1d2d !important;
		color: #ffffff !important;
		fill: white !important;
	}

	.dialogOverlay[topmost="true"] {
		background-color: #1e1d2d !important;
	}

	#historyItems {
		color: white !important;
		background: #1e1d2d !important;
	}

	#historyItems:hover {
		color: white !important;
		background: #1e90ff90 !important;
	}

	#historyItems:active {
		color: white !important;
		background: #1e90ff !important;
	}
}
