@-moz-document domain(reddit.com) {
	* {
		font-family: "Fira Sans" !important;
	}

	body,
	html {
		background: #1e1d2d !important;
		--pseudo-before-background: #1e1d2d !important;
	}

	.icon {
		color: #1e90ff !important;
		fill: #1e90ff !important;
	}


	/*.icon:hover, .icon:focus {
				/
				color: white !important;
				fill: white !important;
				background:  #1e90ff !important;
			}*/
	._3dZnYgFFpifT-M_Vs2FAq6:focus,
	._3dZnYgFFpifT-M_Vs2FAq6:hover,
	._1x6pySZ2CoUnAfsFhGe7J1:focus,
	._1x6pySZ2CoUnAfsFhGe7J1:hover,
	.FOioVk_DUTmZIKKa82Mm1:hover,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:focus,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:hover {
		background-color: #1e90ffc0 !important;
		border-radius: 50px !important;
		outline: none;
	}

	.icon._1xvdfUtOPDANqHjxzxKX5b._1TI6C7sqGL9TRdsq1jRks {
		color: #fff !important;
	}

	._2dkUkgRYbhbpU_2O2Wc5am {
		border: none !important;
	}

	._2dkUkgRYbhbpU_2O2Wc5am:hover {
		/*border: thin solid #1e90ff !important;*/
		filter: drop-shadow(0px 0px 6px #1e90ff) !important;
	}

	/* reduce margin above post buttons
			#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div>div>div>div>div>div>div>div>div>div>div>div>div>div:nth-child(3) {
				margin-top: 0px;
			}*/
	/*._2rszc84L136gWQrkwH6IaM,*/

	.wBtTDilkW_rtT2k5x3eie,
	._2jJNpBqXMbbyOiGCElTYxZ,
	.uI_hDmU5GSiudtABRz_37,
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
	._1RYN-7H8gYctjOQeL8p2Q7,
	._3xuFbFM3vrCqdGuKGhhhn0,
	._30tg1O9wAzwRoTqqBSRBlz._3ZSjRUGOA0v5oEW8Y5RYEu,
	._29ZINqNU9TgYgGNEarsvKV,
	._2gF7CwFWoUrsLhPqOxCc6F {
		background-color: #1e1d2d !important;
		border: 1px solid #1e1d2d !important;
	}


	._1RYN-7H8gYctjOQeL8p2Q7:hover {
		border: 1px solid #1e90ff !important;
	}

	._2vH__bwuub4wzWRqcvhh3m {
		background-color: #1e1d2d !important;
		border-bottom: 1px solid #1e90ff80 !important;
	}

	i._3B-ny-D97ZKwdUyXAaWF19.icon.icon-close {
		margin-bottom: 5px !important;
	}

	._2w8adx4kIBGPEESCyEmToa.r7zyyy152ZTdiHhea0cIj,
	._22Te0a5VxZnLITkTavQh95,
	._3cWzf-usAKfGV1Ay7h2zM_,
	._3Im6OD67aKo33nql4FpSp_,
	._1Zj2sAyYL2zB-kzZQcWiW {
		background-color: #1e1d2d !important;
	}

	/*._3w_665DK_NH7yIsRMuZkqB,
	._2gF7CwFWoUrsLhPqOxCc6F {
		width: 340px !important;
	}*/

	._ZhON3a3vplThB8NFwuJn,
	._2M2wOqmeoPVvcSsJ6Po9-V,
	.Pbz3gpOA6rvqdYoX_pOjn,
	._1poyrkZ7g36PawDueRza-J,
	._20fGT0XJD3MvX9yBsVeKMn,
	._2YcMhGs5-uIg9Fj4a9J2Xr,
	._3SNMf5ZJL_5F1qxcZkD0Cp,
	._17TqawK-44tH0psnHPIhzS,
	._2ulKn_zs7Y3LWsOqoFLHPo,
	._2vkeRJojnV7cb9pMlPHy7d,
	._2u8LqkbMtzd0lpblMFbJq5,
	._3Oa0THmZ3f5iZXAQ0hBJ0k,
	.m3aNC6yp8RrNM_-a0rrfa,
	figure._3BxRNDoASi9FbGX01ewiLg,
	._2otRz3OtuWajw1RleFDJ5P,
	._3w_665DK_NH7yIsRMuZkqB,
	._1lhlKOukuHHzZKIlnXcHmQ,
	._1ump7uMrSA43cqok14tPrG {
		background: #1e1d2d !important;
		border-color: none !important;

	}


	._1ump7uMrSA43cqok14tPrG::before {
		background-color: #1e1d2d !important;
	}

	#overlayScrollContainer {
		background: #1e1d2d70 !important;
	}

	._34q3PgLsx9zIU5BiSOjFoM,
	._3GnarIQX9tD_qsgXkfSDz1 {
		background-color: #000000 !important;
		font-family: Fira Code !important;
		font-size: 13px !important;
		font-weight: 300 !important;


		/*line-height:initial !important;*/
	}

	._1r4smTyOEZFO91uFIdWW6T .public-DraftEditor-content,
	.zgT5MfUrDMC54cpiCpZFu,
	._1DeR7_QiQnu2UK0e2dDfYD,
	._1K7ubH9z5v9E6C19j2fjQU,
	.h-jI8r2f9ozTNqu_2TBeY,
	.header-subreddit-filter,
	._37tmRmxaFMjRRrvwcY2JmY,
	input#password.AnimatedForm_textinput * {
		background: #000000 !important;
		color: #ffffff !important;
		border-radius: 6px important;
		border: none !important;
	}

	.VBa-xDMEbFi3vsO4id4OC,
	._2ED-O3JtIcOqp8iIL1G5cg {
		background: #000000 !important;
		border: transparent !important;
	}

	._2LoNYeXgOQfq1adQ3jWSbi {
		border: none !important;

	}

	._3wl1bRnSzxHkKJfvqakrNI,
	._3GnarIQX9tD_qsgXkfSDz1 {
		border: 1px solid #1e1d2d !important;
	}

	.XEkFoehJNxIH9Wlr5Ilzd:hover,
	._26MVepkxZHzpNv1cuAA4JA:hover {
		background-color: #1e90ff80 !important;
	}

	._29lagmmeH1Fb03mLJEq0Dt,
	.Pbz3gpOA6rvqdYoX_pOjn {
		display: none !important;
	}

	input,
	textarea,
	[contenteditable],
	._37tmRmxaFMjRRrvwcY2JmY,
	#header-subreddit-filter {
		appearance: none !important;
		background-color: #000000 !important;
		margin-top: 1px !important;
		outline: none !important;
	}

	#ListingSort--Overflow,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8 {
		background: none !important;
		color: #ffffff !important;
		fill: white !important;
	}

	#ListingSort--Overflow:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:hover {
		background: #1e90ff80 !important;
		color: #ffffff !important;
		fill: white !important;
	}

	/*[selected]*/
	#ListingSort--Overflow:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:focus {
		background: #1e90ff !important;
		color: #ffffff !important;
		fill: white !important;
		border: 1px solid #1e90ff !important;
	}

	.MSTY2ZpsdupobywLEfx9u {
		background: none !important;
	}

	a._2SdHzo12ISmrC8H86TgSCp._3wqmjmv3tb_k-PROt7qFZe {
		color: #ffffff !important;
	}

	._2FCtq-QzlfuN-SwVMUZMM3 {
		--posttitletextcolor: white !important;
		--postTitle-VisitedLinkColor: dodgerblue !important;
		--postTitleLink-VisitedLinkColor: dodgerblue !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS {
		color: #ffffff !important;
		background-color: transparent !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:hover {
		color: #ffffff !important;
		background-color: #1e90ff80 !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:focus {
		color: #ffffff !important;
		background-color: #1e90ff !important;
	}

	._1Sy9NCNbLA9uJZj-qgUrMG {
		background: #1e90ff10 !important;
	}

	._24UNt1hkbrZxLzs5vkvuDh {
		background: none !important;
	}

	._24UNt1hkbrZxLzs5vkvuDh:hover {
		background: #1e90ff !important;
	}

	div.wv-main li a img {
		display: none !important;
		visibility: collapse !important;
	}

	._3t5uN8xUmg0TOwRCOGQEcU {
		color: #1e90ff !important;
		text-decoration: none !important;
	}

	._3t5uN8xUmg0TOwRCOGQEcU:hover,
	._3t5uN8xUmg0TOwRCOGQEcU:visited {
		color: #1e90ff80 !important;
		text-decoration: none !important;
	}

	._2aqH0n-kSzFY7HZZ5GL-Jb {
		color: white !important;
		font-weight: 650 !important;
	}

	._1qeIAgB0cPwnLhDF9XSiJM {
		color: white !important;
		font-weight: 350 !important;
	}

	/*------------------------------------------------*/
	.Chtkt3BCZQruf0LtmFg2c {
		max-height: unset !important;
		-webkit-mask-image: unset !important;
		mask-image: unset !important;
		overflow: auto !important;
	}

	/* multiple pictures */
	._1apobczT0TzIKMWpza0OhL {
		display: grid !important;
		grid-template-columns: 1fr !important;
		max-height: unset !important;
	}

	._1apobczT0TzIKMWpza0OhL>* {
		grid-row-start: 1 !important;
		grid-column-start: 1 !important;
		position: relative !important;
		max-height: unset !important;
	}

	._1apobczT0TzIKMWpza0OhL>li>figure>div {
		height: 100% !important;
	}

	._1dwExqTGJH2jnA-MYGkEL- {
		height: 100% !important;
		object-fit: contain !important;
	}

	._3b8u2OJXaSDdBWoRB7zUoK {
		display: none !important;
	}

	.KVyBaj7FjzElWsqJDmw7v {
		height: 100% !important;
	}

	._2_tDEnGMLxpM6uOa2kaDB3 {
		object-fit: contain !important;
		width: 100% !important;
		height: 100% !important;
	}

	/* picture */
	.m3aNC6yp8RrNM_-a0rrfa {
		max-height: unset !important;
		display: flex !important;
	}

	.hpxKmfWP2ZiwdKaWpefMn,
	._3gBRFDB5C34UWyxEe_U6mD {
		display: none !important;
	}

	.kcerW9lbT-se3SXd-wp2i {
		min-height: 40vh !important;
		display: flex !important;
		flex-direction: column !important;
	}

	._1NSbknF8ucHV2abfCZw2Z1 {
		display: flex !important;
		width: 100% !important;
		justify-content: center !important;
	}

	._1NSbknF8ucHV2abfCZw2Z1>a {
		width: 100% !important;
	}

	._3JgI-GOrkmyIeDeyzXdyUD {
		position: relative !important;
		display: flex !important;
		justify-content: center !important;
		flex-grow: 1 !important;
	}

	._3Oa0THmZ3f5iZXAQ0hBJ0k {
		max-height: unset !important;
		width: 100% !important;
	}

	._3Oa0THmZ3f5iZXAQ0hBJ0k>div {
		width: 100% !important;
	}

	._3hUbl08LBz2mbXjy0iYhOS {
		display: none !important;
	}

	/* embedded youtube */
	iframe {
		min-height: 45vh !important;
	}

	/* video */
	._3QOPLw8PZipW3i8kDxod81 {
		width: 100% !important;
	}

	._36AIN2ppxy_z-XSDxTvYj5>.threadline {
		border-right: 2px solid #1e90ff80 !important;
	}

	/*._36AIN2ppxy_z-XSDxTvYj5>.threadline:hover {
		border-right: 2px solid #1e90ff !important;
	}      */

	.DjcdNGtVXPcxG0yiFXIoZ.DjcdNGtVXPcxG0yiFXIoZ {
		font-size: 14px !important;
		font-weight: 700 !important;
		color: white !important;
	}

	.DjcdNGtVXPcxG0yiFXIoZ.DjcdNGtVXPcxG0yiFXIoZ:hover {
		text-decoration: none !important;
		color: dodgerblue !important;
	}


	a._23wugcdiaj44hdfugIAlnX,
	._3dAMO_XZMVp2K1JSO53ohA,
	._3LRBCA71BwLLXBNsSlY7HW {
		text-decoration: none !important;
		color: dodgerblue !important;
	}

	a._23wugcdiaj44hdfugIAlnX:hover,
	._3dAMO_XZMVp2K1JSO53ohA:hover,
	._3LRBCA71BwLLXBNsSlY7HW:hover {
		text-decoration: none !important;
		color: #1e90ff80 !important;
	}


	._38EcSQ9jzVrdtzkXO1cydX {
		margin-top: 4px !important;
		margin-left: -45px !important;
	}

	.SDzveG4fJf98RLE5vll2w {
		margin-left: -14px important;
	}

	._1UoeAeSRhOKSNdY_h3iS1O {
		font-family: Fira Sans !important;
		text-align: center !important;
		color: white !important;
		font-weight: 400 !important;
	}

	._2-cXnP74241WI7fpcpfPmg,
	._6_44iTtZoeY6_XChKt5b0,
	._2-cXnP74241WI7fpcpfPmg {
		font-family: Fira Sans !important;
		color: white !important;
		font-weight: 400 !important;
	}

	.DpriHZnFiOfa0afZpg8vf,
	._2eawLPCtwzvTZhWKtaUgZQ._3LyKu57c-QkPvlFvAgWop5,
	._2ED-O3JtIcOqp8iIL1G5cg,
	.P8SGAKMtRxNwlmLz1zdJu._2ym9uYDdCxu8P4UFCLNCgE {
		background: #1e1d2d !important;
	}

	._22S4OsoDdOqiM-hPTeOURa {
		background: #1e90ff !important;
		filter: grayscale(0) !important;
		font-family: Fira Sans !important;
		color: white !important;
		font-weight: 400 !important;
	}

	._22S4OsoDdOqiM-hPTeOURa:hover,
	._22S4OsoDdOqiM-hPTeOURa:focus {
		background: #1e90ff80 !important;
		/*filter: grayscale(0) !important;*/
		font-family: Fira Sans !important;
		color: white !important;
		font-weight: 400 !important;
		border-radius: 50px !important;
	}

	._1UoeAeSRhOKSNdY_h3iS1O:hover,
	._1UoeAeSRhOKSNdY_h3iS1O:focus,
	.kU8ebCMnbXfjCWfqn0WPb:focus,
	.kU8ebCMnbXfjCWfqn0WPb:hover,
	._1Hw7tY9pMr-T1F4P1C-xNU:hover,
	._1Hw7tY9pMr-T1F4P1C-xNU:focus {
		background: #1e90ff80 !important;
		/*filter: grayscale(0) !important;*/
		font-family: Fira Sans !important;
		color: white !important;
		font-weight: 400 !important;
		border-radius: 2px !important;
	}

	button.cmR5BF4NpBUm3DBMZCmJS,
	button._1LHxa-yaHJwrPK8kuyv_Y4 {
		background: #1e90ff80 !important;
	}

	button.cmR5BF4NpBUm3DBMZCmJS:hover,
	button._1LHxa-yaHJwrPK8kuyv_Y4:hover {
		background: #1e90ff !important;
	}

	/*._1npCwF50X2J7Wt82SZi6J0, */
	/*._1gVVmSnHZpkUgVShsn7-ua,    */
	/*.qYj03fU5CXf5t2Fc5iSvg,
	.MSTY2ZpsdupobywLEfx9u,   */


	/*.ListingLayout-backgroundContainer,
	.ListingLayout-outerContainer,     */
	/*._2wxsLGNmMLx6sEMLJyn2o9*/

	._3ozFtOe6WpJEMUtxDOIvtU {
		background: #252438 !important;
	}

	._1gVVmSnHZpkUgVShsn7-ua,
	.toc {
		background: #252438 !important;
	}

	.toc {
		background: #252438 !important;
		border: none !important;
		box-shadow: #00000040 0px 5px 10px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px !important;
	}

	._3JDs8KEQIXSMn1bTF2ZqJ_ {
		background: none !important;
	}

	._2jhbZV6mVCM5Ma7Z376DW2::before {
		border-left: 2px solid #1e90ff80 !important;
	}

	._1lhlKOukuHHzZKIlnXcHmQ._1C2mkyHj-MAuIndy8vJIU5 {
		border-color: transparent !important;
	}

	.uI_hDmU5GSiudtABRz_37,
	.wBtTDilkW_rtT2k5x3eie,
	._2jJNpBqXMbbyOiGCElTYxZ,
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
	._3WqRAmto46uhALFWnn8-Pa,
	._3kIjxjzGVq5UfR6Bjiovd,
	._1RYN-7H8gYctjOQeL8p2Q7,
	._1lhlKOukuHHzZKIlnXcHmQ._1C2mkyHj-MAuIndy8vJIU5 {
		box-shadow: #00000040 0px 5px 10px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px !important;

	}

	._2vkeRJojnV7cb9pMlPHy7d.a35Fm2MurU14xdNybLiZp {
		border: none !important;
	}

	._2uYY-KeuYHKiwl-9aF0UiL {
		border: 0px solid var(--newCommunityTheme-line) !important;
		border-radius: 4px;
		box-shadow: 0 2px 4px 0 #000000 !important;
		/*color: var(--newCommunityTheme-bodyText); */
		/*overflow: hidden; */
		background-color: #1e1d2d !important;

	}

	._10K5i7NW6qcm-UoCtpB3aK,
	._39Glgtoolpdt4PIzcnjPSW {
		border-color: #1e1d2d !important;
	}

	.f8nXLisWxOYzMMl1uIAP3:hover,
	.NiNJXib52w4C8FUidB5af:hover,
	._10K5i7NW6qcm-UoCtpB3aK:hover,
	._39Glgtoolpdt4PIzcnjPSW:hover {
		background: #1e90ff80 !important;
		border-radius: 4px !important;
	}

	._2_tDEnGMLxpM6uOa2kaDB3,
	.RaDn8d65cHW3dCPgTkSRN,
	._2WUlLsFSOnLb33dNA9kf50,
	._3X4hbg4asgVvLaVYU6dUzs,
	._3kIjxjzGVq5UfR6Bjiovd,
	#header,
	._249eIqU0mX7GU1qrI9k3F3,
	._3k0sISq1Sewv-7h_jA7Nhh,
	._1ybOoJLXdiKZz_P7hQ0NrO,
	.menuarea {
		background: #1e1d2d !important;
	}

	._3kk9JdhNiGLp6Q4tGsrqLR.I0T583ZtOWVEpRWsa0kbu {
		background: transparent !important;
		margin-bottom: 10px !important;
	}

	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX {
		font-size: 13px !important;
	}

	._3obgdFz00GvpqpuX8QCsNK,
	._1npCwF50X2J7Wt82SZi6J0 {
		background: #252438 !important;
	}

	._2mIbM_6nl-2OnOGEbEMRXa {
		background: #25243850 !important;
	}

	.embedded-page .entry,
	.embedded-page .message {
		background: #252438 !important;
	}

	._326PJFFRv8chYfOlaEYmGt {
		background: #1e90ff80 !important;
		color: white !important;
	}

	._3mRkaGP5f0vxRe_U_Gy02A:hover {
		background: #1e90ff30 !important;

	}

	._326PJFFRv8chYfOlaEYmGt:hover {
		background: #1e90ff !important;
		color: white !important;
	}

	/*
	._34CfAAowTqdbNDYXz5tBTW,
	._2p14AQvJBvTrEEa4csiW9v,
	img._2TN8dEgAQbSyKntWpSPYM7._2UOVKq8AASb4UjcU1wrCil {
		outline: none !important;
		transform: scale(1) !important;
		box-sizing: border-box !important;
		border: 0px solid transparent !important;
		object-fit: cover !important;
		object-position: center !important;
	}*/
	/*._3utuhrSAkEkzgaswqglvpN,*/
	._2TN8dEgAQbSyKntWpSPYM7._2UOVKq8AASb4UjcU1wrCil {

		border: 1px solid transparent !important;
		/*max-height: 100% !important;
		max-width: 100% !important;
		object-fit: cover !important;
		display: block !important;  */



	}

	._2p14AQvJBvTrEEa4csiW9v {
		transform: scale(0.75) !important;
		padding-left: 0px;
		padding-right: -40px;
		padding-bottom: 0px;
		margin-left: -22px;
		margin-right: 3px;
		left: -12px;

	}

	.FB0XngPKpgt3Ui354TbYQ {
		position: relative !important;
		display: flex !important;
		align-items: flex-start !important;
		flex-direction: column !important;
		margin-right: 4px !important;

		margin-left: -15px !important;
		margin-right: 25px !important;
		padding-right: 7px !important;
		width: 169.017px !important;
	}

	._2X6EB3ZhEeXCh1eIVA64XM {
		padding-left: -1px !important;
		padding-right: 0px !important;
		margin-right: -6px !important;
	}


	._2_QqG5dG916znjlVV8ZCbw,
	._1XJXnCAngvZLEeLpB3oa4L {
		margin-left: 0px !important;
	}

	._2SdHzo12ISmrC8H86TgSCp._3wqmjmv3tb_k-PROt7qFZe {
		margin-left: 0px !important;
	}

	._13ScjOmi6dGdJw0JAonQEr,
	._eYtD2XCVieq6emjKBH3m {
		margin-left: 15px !important;
	}

	._1te2cn6lvn-YtGSv-hrM7g,
	._1z4A5-p2XgzMTJUEq3GaXu,
	._1cvAFWcyUe8hsdIpCmJP0W {
		/*height: 100% !important;
		width: 100% !important;  */

		border: none !important;
		outline: none !important;
		/*object-fit: cover !important;   */
	}

	.-z42jjKOFdAdFhdJ8mmI4 {
		/*border-radius: 4px;
		float: left;
		max-height: 24px;
		max-width: 24px;
		height: 24px;
		width: 24px;
		*/
		border: none !important;
	}
}

/* ==UserStyle==
@name         Reddit sidebar autohide
@version      20221116.06.37
@namespace    userstyles.world/user/oren64
@description  Auto hides the Reddit sidebar.

When the sidebar it's hovered, is will expand to full width.

When the sidebar it's not hovered, it will contract, and show only the icons.  
@author       oren64
@license      No License
==/UserStyle== */

@-moz-document domain("reddit.com") {
/* Removing the left padding when the side bar is open */
._1nxEQl5D2Bx2jxDILRHemb._3x1dyL19KnZ4kI6i9TlRp4 { padding-left:0px}
/* Side bar is not hoverd */
._1nxEQl5D2Bx2jxDILRHemb .zoWOQnp55WuhEugRSwfw1{
 width:50px;
 transition:200ms;
 transition-delay: 200ms;
}
/* Side bar is hoverd */
._1nxEQl5D2Bx2jxDILRHemb > .zoWOQnp55WuhEugRSwfw1:hover{
 width:270px;
 transition:200ms;
 transition-delay: 200ms;
}
/* Auto hide text */
._1Ok0AiXwAeYl2SsUBaxgPC{ opacity:0 }
div._1Ok0AiXwAeYl2SsUBaxgPC:nth-child(3) { display: none }
._2XRPX11qL4-HxWPuHAzOW5 { padding:0 }
._1Ok0AiXwAeYl2SsUBaxgPC {
  line-height:0px;
  transition:100ms;
}
._1nxEQl5D2Bx2jxDILRHemb > .zoWOQnp55WuhEugRSwfw1:hover > div > ._2XRPX11qL4-HxWPuHAzOW5{ padding: 16px 24px 8px }
._1nxEQl5D2Bx2jxDILRHemb > .zoWOQnp55WuhEugRSwfw1:hover > div > ._1Ok0AiXwAeYl2SsUBaxgPC { 
 opacity:1;
 line-height:16px;
 animation-timing-function:ease-out;
 transition:100ms;
 transition-delay: 200ms;
}
/* subreddit padding left */
._2MgAHlPDdKvXiG-Qbz5cbC {
 padding:8px 12px;
}
/* margin top for the X button*/
._37tmRmxaFMjRRrvwcY2JmY {
 margin:10px 16px 4px;
}
/* X button */
._2oY_N7NWiAv9m_mFIRdwVX {
 padding:0px;
 margin-top:-4px;
 margin-right:-4px;
 padding-bottom:4px;
}
/* fix screen alignment massages, setting, profile*/
.e8fTXufFydLy7wHBm6rHP {
 left: 0 !important;
}
.aq7Z-V1l4XpWUOsbbPQed {
 padding-left: 52px;
}
.qQD1kUtHq2K4gyBqJrEnF {
 left:170px;
}
._1OVBBWLtHoSPfGCRaPzpTf {
 width:66%;
}
._1_TJAX-8zAT3vVN1Iz7cys {
 padding:0 66px;
}
._2L5G9B5yaoqW3IegiYN-FL ._2RkQc9Gtsq3cPQNZLYv4zc {
 padding-left: 66px;
}
/* margin between icon and text*/
._2Efd4uMAp4YawdvL9Zhdhv,
._2aqH0n-kSzFY7HZZ5GL-Jb {
 margin-left:16px;
}
/* scrollbar thin for firefox*/
._1nxEQl5D2Bx2jxDILRHemb .zoWOQnp55WuhEugRSwfw1 {
 scrollbar-width: thin;
}
/*  scrollbar thin for chrome */
._3k3RwDkEsbX50bb-DBvuWj::-webkit-scrollbar {
 width: 4px; 
 height:0;
}
._3k3RwDkEsbX50bb-DBvuWj::-webkit-scrollbar-thumb {
  background-color: gray;
}
/* min icon width */
.ENGeNwSHzwN-SV2KTH2s7, ._3HTtcITrR-crvsRovLrijl, .icon.t2A0mgkgGzc8cAahJsR7a {
  min-width: 20px;
  max-width: 20px;
}

/* sub name and star opacity when hover */
/*._1nxEQl5D2Bx2jxDILRHemb > .zoWOQnp55WuhEugRSwfw1:hover > div >._2MgAHlPDdKvXiG-Qbz5cbC > div > .icon.t2A0mgkgGzc8cAahJsR7a,
._1nxEQl5D2Bx2jxDILRHemb > .zoWOQnp55WuhEugRSwfw1:hover > div >._2MgAHlPDdKvXiG-Qbz5cbC > ._2aqH0n-kSzFY7HZZ5GL-Jb {
 opacity: 1;
}
.icon.t2A0mgkgGzc8cAahJsR7a {
 opacity: 0;
 transition:100ms;
 transition-delay: 200ms;
}
._2aqH0n-kSzFY7HZZ5GL-Jb {
 opacity: 0;
 transition:200ms;
 transition-delay: 200ms;
}*/
}
@-moz-document url("https://www.reddit.com/login/") {
	body {
		color: white !important;
	}

	input#password.AnimatedForm_textinput {
		background: #000000 !important;
		color: #ffffff !important;
	}
}
