@-moz-document domain(reddit.com) {
	* {
		font-family: "Fira Sans" !important;
	}

	.icon {
		color: #1e90ff !important;
		fill: #1e90ff !important;
	}

	/*.icon:hover, .icon:focus {
		/
		color: white !important;
		fill: white !important;
		background:  #1e90ff !important;
	}*/
	._3dZnYgFFpifT-M_Vs2FAq6:focus,
	._3dZnYgFFpifT-M_Vs2FAq6:hover,
	._1x6pySZ2CoUnAfsFhGe7J1:focus,
	._1x6pySZ2CoUnAfsFhGe7J1:hover,
	.FOioVk_DUTmZIKKa82Mm1:focus,
	.FOioVk_DUTmZIKKa82Mm1:hover,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:focus,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:hover {
		background-color: #1e90ffc0 !important;
		border-radius: 50px !important;
		outline: none;
	}

	/* reduce margin above post buttons 
	#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div>div>div>div>div>div>div>div>div>div>div>div>div>div:nth-child(3) {
		margin-top: 0px;
	}*/
	/*._2rszc84L136gWQrkwH6IaM,*/
	.wBtTDilkW_rtT2k5x3eie,
	._2jJNpBqXMbbyOiGCElTYxZ,
	.uI_hDmU5GSiudtABRz_37,
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
	._1RYN-7H8gYctjOQeL8p2Q7,
	._3xuFbFM3vrCqdGuKGhhhn0 {
		background-color: #1e1d2d !important;
		border: 1px solid #1e1d2d !important;
	}

	._ZhON3a3vplThB8NFwuJn,
	._2M2wOqmeoPVvcSsJ6Po9-V,
	.Pbz3gpOA6rvqdYoX_pOjn,
	._1poyrkZ7g36PawDueRza-J,
	._20fGT0XJD3MvX9yBsVeKMn,
	._2YcMhGs5-uIg9Fj4a9J2Xr,
	._3SNMf5ZJL_5F1qxcZkD0Cp,
	._17TqawK-44tH0psnHPIhzS,
	._2ulKn_zs7Y3LWsOqoFLHPo,
	._2vkeRJojnV7cb9pMlPHy7d,
	._2u8LqkbMtzd0lpblMFbJq5,
	._3Oa0THmZ3f5iZXAQ0hBJ0k,
	.m3aNC6yp8RrNM_-a0rrfa,
	figure._3BxRNDoASi9FbGX01ewiLg {
		background-color: #1e1d2d !important;
		border-color: transparent !important;
	}

	._34q3PgLsx9zIU5BiSOjFoM,
	._3GnarIQX9tD_qsgXkfSDz1 {
		background-color: #000000 !important;
		font-family: Fira Code !important;
		font-size: 13px !important;
	}

	._1r4smTyOEZFO91uFIdWW6T .public-DraftEditor-content,
	.zgT5MfUrDMC54cpiCpZFu,
	._1DeR7_QiQnu2UK0e2dDfYD,
	._1K7ubH9z5v9E6C19j2fjQU,
	.h-jI8r2f9ozTNqu_2TBeY,
	.header-subreddit-filter,
	._37tmRmxaFMjRRrvwcY2JmY * {
		background: #000000 !important;
		color: #ffffff !important;
		border-radius: 6px important;
		border: none !important;
	}

	._2ED-O3JtIcOqp8iIL1G5cg {
		background: #000000 !important;
		border: none !important;

	}

	._3wl1bRnSzxHkKJfvqakrNI,
	._3GnarIQX9tD_qsgXkfSDz1 {
		border: 1px solid #1e1d2d !important;
	}

	.XEkFoehJNxIH9Wlr5Ilzd:hover,
	._26MVepkxZHzpNv1cuAA4JA:hover {
		background-color: #1e90ff80 !important;
	}

	._29lagmmeH1Fb03mLJEq0Dt,
	.Pbz3gpOA6rvqdYoX_pOjn {
		display: none !important;
	}


	input,
	textarea,
	[contenteditable] {
		background: black !important;
		margin-top: 1px !important;

	}

	#ListingSort--Overflow,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8 {
		background: none !important;
		color: #ffffff !important;
		fill: white !important;
	}

	#ListingSort--Overflow:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:hover {
		background: #1e90ff80 !important;
		color: #ffffff !important;
		fill: white !important;
	}

	/*[selected]*/
	#ListingSort--Overflow:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:focus {
		background: #1e90ff !important;
		color: #ffffff !important;
		fill: white !important;
		border: 1px solid #1e90ff !important;
	}

	.MSTY2ZpsdupobywLEfx9u {
		background: none !important;
	}

	a._2SdHzo12ISmrC8H86TgSCp._3wqmjmv3tb_k-PROt7qFZe {
		color: #ffffff !important;
	}

	._2FCtq-QzlfuN-SwVMUZMM3 {
		--posttitletextcolor: white !important;
		--postTitle-VisitedLinkColor: dodgerblue !important;
		--postTitleLink-VisitedLinkColor: dodgerblue !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS {
		color: #ffffff !important;
		background-color: transparent !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:hover {
		color: #ffffff !important;
		background-color: #1e90ff80 !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:focus {
		color: #ffffff !important;
		background-color: #1e90ff !important;
	}

}
