@-moz-document domain(reddit.com) {
	* {
		font-family: "Fira Sans" !important;
	}

	.icon {
		color: #1e90ff !important;
		fill: #1e90ff !important;
	}

	/*.icon:hover, .icon:focus {
				/
				color: white !important;
				fill: white !important;
				background:  #1e90ff !important;
			}*/
	._3dZnYgFFpifT-M_Vs2FAq6:focus,
	._3dZnYgFFpifT-M_Vs2FAq6:hover,
	._1x6pySZ2CoUnAfsFhGe7J1:focus,
	._1x6pySZ2CoUnAfsFhGe7J1:hover,
	.FOioVk_DUTmZIKKa82Mm1:hover,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:focus,
	._2I12Htze2UzJmmfnrgYJOn._1dBtowHdRHcGyLbVEaOL8t ._24UNt1hkbrZxLzs5vkvuDh:hover {
		background-color: #1e90ffc0 !important;
		border-radius: 50px !important;
		outline: none;
	}

	.icon._1xvdfUtOPDANqHjxzxKX5b._1TI6C7sqGL9TRdsq1jRks {
		color: #fff !important;
	}

	._2dkUkgRYbhbpU_2O2Wc5am {
		border: none !important;
	}

	._2dkUkgRYbhbpU_2O2Wc5am:hover {
		/*border: thin solid #1e90ff !important;*/
		filter: drop-shadow(0px 0px 6px #1e90ff) !important;
	}

	/* reduce margin above post buttons 
			#SHORTCUT_FOCUSABLE_DIV>div:nth-child(4)>div>div>div>div>div>div>div>div>div>div>div>div>div>div:nth-child(3) {
				margin-top: 0px;
			}*/
	/*._2rszc84L136gWQrkwH6IaM,*/
	.wBtTDilkW_rtT2k5x3eie,
	._2jJNpBqXMbbyOiGCElTYxZ,
	.uI_hDmU5GSiudtABRz_37,
	._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
	._1RYN-7H8gYctjOQeL8p2Q7,
	._3xuFbFM3vrCqdGuKGhhhn0,
	._30tg1O9wAzwRoTqqBSRBlz._3ZSjRUGOA0v5oEW8Y5RYEu,
	._29ZINqNU9TgYgGNEarsvKV,
	._2gF7CwFWoUrsLhPqOxCc6F {
		background-color: #1e1d2d !important;
		border: 1px solid #1e1d2d !important;
	}

	._2w8adx4kIBGPEESCyEmToa.r7zyyy152ZTdiHhea0cIj,
	._22Te0a5VxZnLITkTavQh95,
	._3cWzf-usAKfGV1Ay7h2zM_,
	._1Zj2sAyYL2zB-kzZQcWiW {
		background-color: #1e1d2d !important;
	}

	._3w_665DK_NH7yIsRMuZkqB ._2gF7CwFWoUrsLhPqOxCc6F {
		width: 340px !important;
	}

	._ZhON3a3vplThB8NFwuJn,
	._2M2wOqmeoPVvcSsJ6Po9-V,
	.Pbz3gpOA6rvqdYoX_pOjn,
	._1poyrkZ7g36PawDueRza-J,
	._20fGT0XJD3MvX9yBsVeKMn,
	._2YcMhGs5-uIg9Fj4a9J2Xr,
	._3SNMf5ZJL_5F1qxcZkD0Cp,
	._17TqawK-44tH0psnHPIhzS,
	._2ulKn_zs7Y3LWsOqoFLHPo,
	._2vkeRJojnV7cb9pMlPHy7d,
	._2u8LqkbMtzd0lpblMFbJq5,
	._3Oa0THmZ3f5iZXAQ0hBJ0k,
	.m3aNC6yp8RrNM_-a0rrfa,
	figure._3BxRNDoASi9FbGX01ewiLg,
	._2otRz3OtuWajw1RleFDJ5P,
	._3w_665DK_NH7yIsRMuZkqB,
	._1lhlKOukuHHzZKIlnXcHmQ {
		background-color: #1e1d2d !important;
		border-color: transparent !important;
	}

	._34q3PgLsx9zIU5BiSOjFoM,
	._3GnarIQX9tD_qsgXkfSDz1 {
		background-color: #000000 !important;
		font-family: Fira Code !important;
		font-size: 12px !important;
		/*line-height:initial !important;*/
	}

	._1r4smTyOEZFO91uFIdWW6T .public-DraftEditor-content,
	.zgT5MfUrDMC54cpiCpZFu,
	._1DeR7_QiQnu2UK0e2dDfYD,
	._1K7ubH9z5v9E6C19j2fjQU,
	.h-jI8r2f9ozTNqu_2TBeY,
	.header-subreddit-filter,
	._37tmRmxaFMjRRrvwcY2JmY * {
		background: #000000 !important;
		color: #ffffff !important;
		border-radius: 6px important;
		border: none !important;
	}

	._2ED-O3JtIcOqp8iIL1G5cg {
		background: #000000 !important;
		border: none !important;
	}

	._3wl1bRnSzxHkKJfvqakrNI,
	._3GnarIQX9tD_qsgXkfSDz1 {
		border: 1px solid #1e1d2d !important;
	}

	.XEkFoehJNxIH9Wlr5Ilzd:hover,
	._26MVepkxZHzpNv1cuAA4JA:hover {
		background-color: #1e90ff80 !important;
	}

	._29lagmmeH1Fb03mLJEq0Dt,
	.Pbz3gpOA6rvqdYoX_pOjn {
		display: none !important;
	}

	input,
	textarea,
	[contenteditable] {
		background-color: black !important;
		margin-top: 1px !important;
	}

	#ListingSort--Overflow,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8 {
		background: none !important;
		color: #ffffff !important;
		fill: white !important;
	}

	#ListingSort--Overflow:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:hover,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:hover {
		background: #1e90ff80 !important;
		color: #ffffff !important;
		fill: white !important;
	}

	/*[selected]*/
	#ListingSort--Overflow:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._1s79QnBguPbckxiiPvFXGP:focus,
	a.M2Hk_S2yvXpsNPfZMBMur._2iuoyPiKHN3kfOoeIQalDT._3zbhtNO0bdck0oYbYRhjMC.HNozj_dKjQZ59ZsfEegz8:focus {
		background: #1e90ff !important;
		color: #ffffff !important;
		fill: white !important;
		border: 1px solid #1e90ff !important;
	}

	.MSTY2ZpsdupobywLEfx9u {
		background: none !important;
	}

	a._2SdHzo12ISmrC8H86TgSCp._3wqmjmv3tb_k-PROt7qFZe {
		color: #ffffff !important;
	}

	._2FCtq-QzlfuN-SwVMUZMM3 {
		--posttitletextcolor: white !important;
		--postTitle-VisitedLinkColor: dodgerblue !important;
		--postTitleLink-VisitedLinkColor: dodgerblue !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS {
		color: #ffffff !important;
		background-color: transparent !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:hover {
		color: #ffffff !important;
		background-color: #1e90ff80 !important;
	}

	._2Mq93X6GCESH9CsQ6XVqOS:focus {
		color: #ffffff !important;
		background-color: #1e90ff !important;
	}

	._1Sy9NCNbLA9uJZj-qgUrMG {
		background: #1e90ff10 !important;
	}

	._24UNt1hkbrZxLzs5vkvuDh {
		background: none !important;
	}

	._24UNt1hkbrZxLzs5vkvuDh:hover {
		background: #1e90ff !important;
	}

	div.wv-main li a img {

		display: none !important;
		visibility: collapse !important;
	}

	._3t5uN8xUmg0TOwRCOGQEcU {
		color: #1e90ff !important;
		text-decoration: none !important;
	}

	._3t5uN8xUmg0TOwRCOGQEcU:hover,
	._3t5uN8xUmg0TOwRCOGQEcU:visited {
		color: #1e90ff80 !important;
		text-decoration: none !important;
	}

	._1qeIAgB0cPwnLhDF9XSiJM {
		color: whitesmoke !important;
	}

	/*------------------------------------------------*/
	.Chtkt3BCZQruf0LtmFg2c {
		max-height: unset !important;
		-webkit-mask-image: unset !important;
		mask-image: unset !important;
		overflow: auto !important;
	}

	/* multiple pictures */
	._1apobczT0TzIKMWpza0OhL {
		display: grid !important;
		grid-template-columns: 1fr !important;
		max-height: unset !important;
	}

	._1apobczT0TzIKMWpza0OhL>* {
		grid-row-start: 1 !important;
		grid-column-start: 1 !important;
		position: relative !important;
		max-height: unset !important;
	}

	._1apobczT0TzIKMWpza0OhL>li>figure>div {
		height: 100% !important;
	}

	._1dwExqTGJH2jnA-MYGkEL- {
		height: 100% !important;
		object-fit: contain !important;
	}

	._3b8u2OJXaSDdBWoRB7zUoK {
		display: none !important;
	}

	.KVyBaj7FjzElWsqJDmw7v {
		height: 100% !important;
	}

	._2_tDEnGMLxpM6uOa2kaDB3 {
		object-fit: contain !important;
		width: 100% !important;
		height: 100% !important;
	}

	/* picture */
	.m3aNC6yp8RrNM_-a0rrfa {
		max-height: unset !important;
		display: flex !important;
	}

	._3gBRFDB5C34UWyxEe_U6mD {
		display: none !important;
	}

	.kcerW9lbT-se3SXd-wp2i {
		min-height: 40vh !important;
		display: flex !important;
		flex-direction: column !important;
	}

	._1NSbknF8ucHV2abfCZw2Z1 {
		display: flex !important;
		width: 100% !important;
		justify-content: center !important;
	}

	._1NSbknF8ucHV2abfCZw2Z1>a {
		width: 100% !important;
	}

	._3JgI-GOrkmyIeDeyzXdyUD {
		position: relative !important;
		display: flex !important;
		justify-content: center !important;
		flex-grow: 1 !important;
	}

	._3Oa0THmZ3f5iZXAQ0hBJ0k {
		max-height: unset !important;
		width: 100% !important;
	}

	._3Oa0THmZ3f5iZXAQ0hBJ0k>div {
		width: 100% !important;
	}

	._3hUbl08LBz2mbXjy0iYhOS {
		display: none !important;
	}

	/* embedded youtube */
	iframe {
		min-height: 45vh !important;
	}

	/* video */
	._3QOPLw8PZipW3i8kDxod81 {
		width: 100% !important;
	}

}
