/* ------------------------------ status panel ------------------------------ */
#statuspanel {
	bottom: -16px !important;
	margin-left: 50% !important;
	max-width: 45% !important;
}

#statuspanel-inner {
	-moz-box-align: start !important;
	margin-left: -50% !important;
}

#statuspanel #statuspanel-label {
	appearance: none !important;
	background-color: #1E1D2D !important;
	font-family: "Fira Sans" !important;
	font-size: 14px !important;
	color: #ffff00 !important;
	border: 2px solid #1E1D2D !important;
	border-radius: 0px !important;
	text-align: center !important;
}
/* -------------------------------------------------------------------------- */
