::file-selector-button, input:where([type="reset"], [type="button"], [type="submit"]) {
  color: white;
  background-color: #1e90ff70 !important; 
}
::file-selector-button:hover, input:where([type="reset"], [type="button"], [type="submit"]):hover {
  color: white;
  background-color: #1e90ff !important; 
}

.Settings select, select.primary, select {
  background: #000000;
  outline: 1px solid #1e90ff !important;
  width: 300px !important;
  border-radius: 6px !important;
  /*margin-left: 140px !important;*/
}
.Settings select.primary,
.Settings h2 { margin-left: 15px !important; }

.Settings input[type="radio"] input {
  accent-color: #1e90ff;
  /*background-color: #1e1d2d !important;*/
}
.multiselect:focus, .multiselect--open {
  border-color: #1e90ff !important;
}

.multiselect {
  border: 1px solid #1e90ff !important;
  background: #1e1d2d;
  
}
.multiselect__dropdown, label>input {
  background: #1e1d2d;
  border: 1px solid #1e90ff !important;
  
}
.Logo svg {
	fill: dodgerblue !important;
}
.credit {
	display: none !important;
}

.Time {
	color: #ffffff60;
animation: growIn ease 1s;
}
@keyframes growIn {
  0% {
   font-size: 36px;
  }
  30% {
   font-size: 39px;
  }
  100% {
   font-size: 36px;
  }
}
.Time hr, hr {  
	border-top: 1px solid #ffffff !important;
}

.Search > input {
	/*backdrop-filter: blur(8px) !important;*/
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.IpInfo{
        background: transparent !important; 
}

.Suggestions {
	backdrop-filter: blur(8px) !important;
}

.search {
	font-size: 12px;
	font-family: Fira Sans !important;
}

.Search input { 
	text-align: center;
	font: 400 1.1rem 'Fira Sans';
	transition: border-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
}
/*.Quote { 
 font-size: 12px;
 padding: 3rem;
}*/

select {border-color: dodgerblue !important; }

.Links a {
	text-decoration: none;
}

.Links a:hover {
	color: dodgerblue;
transform: scale(1.2, 1.2);
}

*{
 font-family: Fira Sans ;
}


h3 {
      font-size: 48px !important;
}

.Weather .summary {
	text-shadow: 0px 0px 12px #1e1d2d;
	transition: background 0.3s;
	padding: 7px;
	font-size: 16px;
}

.Weather .summary:hover {
	background: transparent;
}
.Weather .details {
	padding: 7px;
	font-size: 16px;
}
.Weather .details:hover {
	background: transparent;
}

.Search>input {
	font-family: Fira Sans;
	font-size: 14px;
}
.Suggestions input {
	color: inherit;
	font-size: 14px;
}
  
.Widgets h1,
.Widgets h2,
.Widgets h3,
.Widgets h4 {
	/*text-shadow:1px 3px 10px rgba(39,39,48,53%);*/
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	transition: text-shadow 0.4s cubic-bezier(.34, 1.75, .37, .8);
	font-size: 3em;
}
.Overlay svg {
	display: none;
}
.Overlay.topCentre { background: transparent; }
.Overlay:hover svg {
	display: initial !important;
	color: white;
}
.Overlay svg {
	border-radius: 50%;
	background: #ffffff00;
	padding: 4px;
	width: 25px;
	height: 25px;
}
.ImageSettings .grid .preview button {
	padding: 4px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	transition: transform 0.4s ease, opacity 0.5s;
}
.ImageSettings .grid .preview button:hover {
	transform: translate(-50%, -50%) scale(1.17, 1.17);
}
.Settings .plane {
	background: #1e1d2d !important;	
	transition: all 1s;
	padding-left: 5px;
	padding-right: 0px;
	width: 50%;
	max-width: 500px;
}
@media only screen and (max-width: 1000px) {
	.Settings .plane {
		background: #1e1d2d !important;
		padding-left: 0px;
		padding-right: 20px;
		width: 100%;
		max-width: none;
	}
	.ImageSettings .grid .preview:hover {
		transform: scale(1.1, 1.1);
	}
}
.Settings .Widget {
	background: #1e1d2d !important;
	color: rgb(255, 255, 255);
}

.Settings h2,
.Settings h3,
.Settings h4 {
	color: rgb(255, 255, 255);
}
span,p {
	color: rgb(163, 163, 163);
}
.Settings input[type="email"],
.Settings input[type="file"],
.Settings input[type="number"],
.Settings input[type="text"],
.Settings input[type="url"],
.Settings textarea,
.Settings select {
	border: none;
	color: rgb(24, 24, 24);
}
.Settings .Widget .title--buttons button {
	color: white;
	background: transparent;
	transition: transform 0.5s;
}
.Settings .Widget .title--buttons button:hover {
	transform: scale(1.2, 1.2);
	color: white;
	background: rgba(30, 144, 255, 0.8) !important;
}
.ImageSettings .grid .preview {
	transition: transform 0.5s;
}
.ImageSettings .grid .preview:hover {
	transform: scale(1.2, 1.2);
	z-index: 1000;
}
.Settings input[type="email"],
.Settings input[type="file"],
.Settings input[type="number"],
.Settings input[type="text"],
.Settings input[type="url"],
.Settings textarea,
.Settings select,
select,
#primary,
.primary,
select.primary {
	background-color: black;
	border: 0.5px solid dodgerblue !important;
	color: white;
        padding-right: 4px !important;
 
}
.Settings input[type="email"].primary,
.Settings input[type="file"].primary,
.Settings input[type="number"].primary,
.Settings input[type="text"].primary,
.Settings input[type="time"].primary,
.Settings input[type="url"].primary,
.Settings textarea.primary,
.Settings select.primary {
	background-color: black;
	outline: none;
	border: transparent !important;
	/*border: 0.25em solid #ecf0f1;*/
       
}


.Widgets h3 {
	font-size: 70px;
}

.Settings .plane {
	background: #1e1d2d !important;
        transition: all 300ms ease;
}

.Widgets {
	font-size: 70px;
}

button,
::file-selector-button {
	fill: black !important;
	margin-right: 14px !important;
}

h1 {
	font-family: Fira Sans !important;
}
h3, dd, dt {
	font-family: Fira Sans !important;
}
.Search.style-transparent-rounded > input {
        text-align: center !important;
        /*-webkit-backdrop-filter: blur(20px);*/
        /*backdrop-filter: blur(5px);*/
        background: none !important;
        border: 1px solid #1e90ff !important;        
        border-radius: 1.625rem;
        height: 1.2rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
        font-family: Fira Sans;
        text-align: center !important;
}
.Search.style-minimal-outlined > input { 
        background: none !important;
        border: 1px solid #1e90ff !important;        
        border-radius: 1.625rem;
        height: 1.2rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
        font-family: Fira Sans;
        text-align: center !important;
}
