/* unified extensions menu 
.unified-extensions-item-action-button.subviewbutton:hover {
	color: white !important;
	font-weight: bold !important;
	background-color: #1e90ff !important;
	border-radius: 4px !important;
}
*/


.unified-extensions-item-action-button.subviewbutton {
	color: white !important;
	background-color: #1e1d2d !important;
}

#unified-extensions-panel toolbarseparator {
	display: none !important;
}

#unified-extensions-panel {
	background: none !important;
}

#unified-extensions-manage-extensions,
#unified-extensions-view {
	background: #1e1d2d !important;
}

.unified-extensions-item-action-button[disabled] .unified-extensions-item-icon {
	opacity: 1.0 !important;
}

/*  Extension menu option button mod */
#unified-extensions-view .unified-extensions-item-menu-button.subviewbutton {
	visibility: hidden !important;
	transition: 300ms !important;
	-moz-margin-end: -3.6em !important;
}

#unified-extensions-view:hover .unified-extensions-item-menu-button.subviewbutton {
	visibility: visible !important;
	transition: 300ms !important;
	-moz-margin-end: initial !important;
}

#unified-extensions-view .unified-extensions-item-name,
#unified-extensions-view .unified-extensions-item-message {
	padding-inline-start: 0.5em !important;
	width: 21em !important;
	font-size: 14px !important;
}

#unified-extensions-button {
	list-style-image: url("puzzle.svg") !important;
}


/*New Extension panel*/
#unified-extensions-panel toolbaritem.unified-extensions-item {
	max-width: max-content !important;
	/*height: 60px;*/
}

deck.unified-extensions-item-message-deck {
	display: none !important;
}

/*  Clean and tight extensions menu
#unified-extensions-view .panel-header,
#unified-extensions-view .panel-header+toolbarseparator,
#unified-extensions-view .panel-subview-body+toolbarseparator,*/
#unified-extensions-view,
#unified-extensions-view #unified-extensions-manage-extensions {
	background: #1e1d2d !important;
}

#unified-extensions-view #unified-extensions-manage-extensions:hover {
	background: #1e90ff !important;
	border-radius: 3px !important;
}

/*#unified-extensions-button {
-moz-box-ordinal-group:  999 !important;
}*/

/*
#unified-extensions-view{
  --uei-icon-size: 16px !important;
}

.unified-extensions-item-menu-button.subviewbutton{
  padding: 2px !important;
}
.unified-extensions-item-message-deck{
  display: none !important;
}
#unified-extensions-view > vbox > vbox > .unified-extensions-item{
  padding-block: 0px !important;
}
.unified-extensions-item-menu-button{
  margin-inline-end: 0 !important;
}
.unified-extensions-list .unified-extensions-item-menu-button{
  margin-inline-end: 8px !important;  
}
unified-extensions-item.unified-extensions-item
{display: visible !important;}*/

#unified-extensions-panel .unified-extensions-item {
	padding-block: 0px !important;
}
