/*----------ublock origin --------------*/

@-moz-document url-prefix("moz-extension://b3539271-70a5-4558-b421-81fa8a87e7ba/") {
    body {
        font-family: Fira Sans !important;
        background-color: #1f1f1f !important;
        color: #ffffff !important;
    }

    a {
        color: #888 !important;
    }

    h2 {
        background-color: #444 !important;
        color: #ffffff !important;
    }

    code {
        background-color: #555 !important;
    }

    #switch .fa {
        color: #1e90ff !important;
    }

    body.off #switch .fa {
        color: #555 !important;
    }

    .tool {
        color: #ffffff !important;
    }

    .tool.enabled:hover {
        color: #1e90ff !important;
    }

    .permatoolbar {
        background-color: #333 !important;
    }

    .permatoolbar .button {
        background-color: #444 !important;
    }

    .permatoolbar .button:hover {
        background-color: #888 !important;
    }

    #tooltip {
        background-color: #000000 !important;
        border: 1px solid #000000 !important;
        color: #ffffff !important;
    }

    #firewallContainer>div {
        background-color: #333 !important;
    }

    #firewallContainer>div:hover {
        background-color: #444 !important;
    }

    #firewallContainer>div>span {
        color: #ffffff !important;
        border-bottom: 1px solid #111 !important;
    }

    #firewallContainer>div>span:first-of-type~span {
        border-left: 1px solid #111 !important;
    }

    #extraTools {
        background-color: #444 !important;
    }

    #extraTools>span:hover {
        color: #1e90ff !important;
    }

    #dashboard-nav-widgets {
        background-color: #111 !important;
        border-bottom: 1px solid #777 !important;
    }

    .tabButton {
        background-color: #444 !important;
        border: 1px solid #666 !important;
        border-bottom: 1px solid #777 !important;
        color: #ffffff !important;
    }

    .tabButton.selected {
        background-color: #222 !important;
        border-bottom: 1px solid #222 !important;
    }

    #diff li {
        background-color: #555 !important;
    }

    #diff li:nth-child(even) {
        background-color: #444 !important;
    }

    #diff textarea {
        background-color: #333 !important;
        color: #ffff !important;
    }
}


/*-------------download sidebar webext tweaks dark ------------------*/

@-moz-document url("moz-extension://0b69c22c-7b59-466f-a19f-efafc2db85e4/sidebar/panel.html") {
    html,
    body {
        font-family: Fira Sans !important;
        background-color: #1f1f1f !important;
        color: #ffffff !important;
    }

    .toolbar-item .btn,
    .change-state-button,
    .cancel-button,
    .erase-button {
        filter: invert(100%) !important;
    }

    .progress {
        border: 0px solid #777 !important;
        background-color: #1e8fff3d !important;
    }

    .toolbar-bottom {
        border-top: 0px solid #777 !important;
    }

    .item:hover {
        background-image: linear-gradient(to top, #1e8fff7a, #1f1f1f) !important;
        border-radius: 0px !important;
        /*box-shadow    : 0 0 0px 0px black !important;*/
    }

    .item:selected {
        background-image: linear-gradient(to top, #1e8fff7a, #1f1f1f) !important;
        border-radius: 0px !important;
        /* box-shadow: 0 0 0px 0px black !important;*/
    }
}


/*
Name: Firefox Transparent Images
Version: 1.1.0
Description: Removes the white background when viewing images with transparency directly.
Copyright: hyperfekt
License: CC0 Public Domain Dedication (https://creativecommons.org/publicdomain/zero/1.0/)
*/
/*
@-moz-document regexp("(data:image/.*|.*\\.(png|gif|webp|bmp|tiff?|jp2|jpx)") {
    img.transparent {
        background: none !important;
        color: #ffffff !important;
    }
}*/
/* for svg 
@-moz-document regexp("data:image/(svg).*|.*\\.(svg)") {
    :root {
        background: url("chrome://global/skin/media/imagedoc-darknoise.png") !important;
        color: #ffffff !important;
    }
}
*/

/*
.popup-notification-button[default][highlight="true"]:not([disabled]) {
  background-color: #1e90ff !important;
}

.popup-notification-button[default][highlight="true"]:hover:not([disabled]) {
  background-color: #1e8eff80 !important;
}

.popup-notification-button:hover:not([disabled]) {
  background-color: #80808080 !important;
}

*/
/* google */
/*
@-moz-document url-prefix("https://www.google.fr/search") { b > b { font-weight: 100 !important; } } 
@-moz-document url-prefix("https://www.google.com/search") { b > b { font-weight: 100 !important; } } 
*/
