@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url("about:privatebrowsing") {
    body {
        background-color: #1f1f1f !important;
    }
}

#browserContainer {
    background-color: black !important;
}

/*---------------------------------UBLOCK ORIGIN ---------------------*/


@-moz-document url-prefix("moz-extension://b3539271-70a5-4558-b421-81fa8a87e7ba/") {
    body {
        font-family: Fira Sans !important;
        background-color: #1f1f1f !important;
        color: #ffffff !important;
    }

    a {
        color: #888 !important;
    }

    h2 {
        background-color: #444 !important;
        color: #ffffff !important;
    }

    code {
        background-color: #555 !important;
    }

    #switch .fa {
        fill: #1e90ff !important;
    }

    body.off #switch .fa {
        color: #555 !important;
    }

    .tool {
        color: #ffffff !important;
    }

    .tool.enabled:hover {
        fill: #1e90ff !important;
    }

    .permatoolbar {
        background-color: #333 !important;
    }

    .permatoolbar .button {
        background-color: #444 !important;
    }

    .permatoolbar .button:hover {
        background-color: #888 !important;
    }

    #tooltip {
        background-color: #000000 !important;
        border: 1px solid #000000 !important;
        color: #ffffff !important;
    }

    #firewallContainer>div {
        background-color: #333 !important;
    }

    #firewallContainer>div:hover {
        background-color: #444 !important;
    }

    #firewallContainer>div>span {
        color: #ffffff !important;
        border-bottom: 1px solid #111 !important;
    }

    #firewallContainer>div>span:first-of-type~span {
        border-left: 1px solid #111 !important;
    }

    #extraTools {
        background-color: #444 !important;
    }

    #extraTools>span:hover {
        fill: #1e90ff !important;
    }

    #dashboard-nav-widgets {
        background-color: #111 !important;
        border-bottom: 1px solid #777 !important;
    }

    .tabButton {
        background-color: #444 !important;
        border: 1px solid #666 !important;
        border-bottom: 1px solid #777 !important;
        color: #ffffff !important;
    }

    .tabButton.selected {
        background-color: #222 !important;
        border-bottom: 1px solid #222 !important;
    }

    #diff li {
        background-color: #555 !important;
    }

    #diff li:nth-child(even) {
        background-color: #444 !important;
    }

    #diff textarea {
        background-color: #333 !important;
        color: #ffff !important;
    }
}

/*-------------download sidebar webext tweaks dark ------------------*/

@-moz-document url("moz-extension://0b69c22c-7b59-466f-a19f-efafc2db85e4/sidebar/panel.html") {

    html,
    body {
        font-family: Fira Sans !important;
        background-color: #1f1f1f !important;
        color: #ffffff !important;
    }

    .toolbar-item .btn,
    .change-state-button,
    .cancel-button,
    .erase-button {
        filter: invert(100%) !important;
    }

    .progress {
        border: 0px solid #777 !important;
        background-color: dodgerblue !important;
    }

    .toolbar-bottom {
        border-top: 0px solid #777 !important;
    }

    .item:hover {
        background-image: linear-gradient(to top, dodgerblue, #1f1f1f) !important;
        border-radius: 0px !important;
        box-shadow: 0 0 0px 0px black !important;
    }

    .item:selected {
        background-image: linear-gradient(to top, dodgerblue, #1f1f1f) !important;
        border-radius: 0px !important;
        box-shadow: 0 0 0px 0px black !important;
    }
}

/* Wider about:addons "addon card" width + tweaks */

@-moz-document url(about:addons) {
    .addon.card {
        max-width: 1000px !important;
        color: white !important;
        background-color: #2f2f2f !important;
        font-family: Fira Sans !important;
        border-radius: 0px !important;
        fill-opacity: 1.0 !important;
    }

    #header-inner {
        width: 1028px !important;
    }

    .heading-inner {
        width: 1000px !important;
    }

    #header-utils-btn .toolbarbutton-icon {
        padding: 2px 5px !important;
    }

    .detail-view-container {
        width: 1000px !important;
    }
}

richlistbox.list>richlistitem.addon {
    border-color: #1e90ff !important;
    border: 2px !important;
}




:root {

    --in-content-page-background: #1f1f1f !important;

    --in-content-page-color: #a4a4a4 !important;
    --in-content-text-color: white !important;

    --in-content-box-border-color: dodgerblue !important;

    --in-content-category-text: white !important;

    --in-content-category-text-selected: dodgerblue !important;

    --in-content-box-background: #1f1f1f !important;
    --in-content-box-background-odd: #1f1f1f !important;
    --in-content-item-selected: dodgerblue !important;

    --in-content-selected-text: white !important;
    --in-content-box-background-hover: black !important;
    --in-content-box-background-active: rgb(184, 184, 184) !important;
}


/*text color for addon descriptions*/
.detail-view-container {
    font-family: Fira Sans !important;
    fill-opacity: 1 !important;
    color: #ffffff !important;
}



/*Text for bottom text of addon descriptions (with the checkboxes *and stuff.*/
.detail-row,
.detail-row-complex {
    text-shadow: none !important;
    font-family: Fira Sans !important;
    fill: white !important;
    fill-opacity: 1 !important;
}

/*
@-moz-document url(about:addons) {
    .addon.card {
        max-width: 1000px !important;
        font-family: Fira Sans !important;
        box-shadow: 1 1 #1e90ff !important;
        border-radius: 0px !important;
        border: 1px !important;
        border-color: dodgerblue !important;
    }

    #header-inner {
        width: 1030px !important;
    }

    .heading-inner {
        width: 2155px !important;
        margin-left: -1125px !important;
        margin-top: -18px !important;
    }

    #header-utils-btn .toolbarbutton-icon {
        padding: 2px 5px !important;
    }

    .detail-view-container {
        width: 1000px !important;
    }

    .content-container {
        width: 100% !important;
    }

    .toolbarbutton-icon {
        padding: 0px 2px !important;
        margin-left: -8px !important;
        margin-right: 0px !important;
        margin-top: -2px !important;
        padding-top: 2px !important;
    }
}


*/

@-moz-document url-prefix("about:") {

    * {
        font-family: Fira Sans !important;
        font-weight: inherit !important;
        fill-opacity: 1 !important;

    }

}

@-moz-document url("about:addons") {
    #header-search {
        border: 1px solid dodgerblue !important;
    }

    #header-search:-moz-any(:hover, :focus-within) {
        border: 1px solid dodgerblue !important;
        box-shadow: 0 0 10px white !important;
    }

    .addon.card:hover {
        box-shadow: 0 0 10px dodgerblue !important;
        border-bottom: none !important;
    }

    /* Options */
    button[label="Options"] {
        background-color: black !important;
        border-color: dodgerblue !important;
    }

    /* Enable */
    button[label="Activer"] {
        background-color: black !important;
        border-color: dodgerblue !important;
    }

    /* Disable */
    button[label="Désactiver"] {
        background-color: black !important;
        border-color: dodgerblue !important;
    }

    /* Remove */
    button[label="Supprimer"] {
        background-color: black !important;
        border-color: dodgerblue !important;
    }
}

/* Find In Options */
@-moz-document url("about:preferences") {
    #searchInput {
        border: 1px solid dodgerblue !important;
    }

    #searchInput:-moz-any(:hover, :focus-within) {
        border: 1px solid dodgerblue !important;
        box-shadow: 0 0 7px white !important;
    }

}

/* Firefox Quantum userChrome.css tweaks *********************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************/

/* 'Unknown' tag gets hidden for English, German, Russian, Spanish (es-SP), Portuguese (pt-PT), French, Italian locales */

@-moz-document url-prefix(about:addons) {

    .addon:not([pending="uninstall"])[status="installed"] .date-updated:not(:-moz-any([value="Unknown"], [value="Unbekannt"], [value="Неизвестно"], [value="Desconocido"], [value="Desconhecido"], [value="Inconnue"], [value="Sconosciuto"])) {
        display: block !important;
        padding-top: 15px !important;
        color: dodgerblue !important;
    }
}

/*---------------------------------------------------------------------*/
